<!--BEGIN datatable-->
<div class="table-responsive">
    <table id="example-datatable" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th>User</th>
                <th>Contact e-mail</th>
                <th>Date</th>
                <th>Deposit?</th>
                <th class="text-center">Form completion</th>
                <th class="text-center">Form verification</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% model.each do |item| %>
            <% 
            raform = Raform.find_by_booking_id(item.id)
            hsform = Hsform.find_by_booking_id(item.id)
            showform = Showform.find_by_booking_id(item.id)
            %>
            <% if (raform.complete && !raform.verified) || (hsform.complete && !hsform.verified) || (showform.complete && !showform.verified) %>
            <tr class="flagged">
            <% elsif (raform.complete && raform.verified) && (hsform.complete && hsform.verified) && (showform.complete && showform.verified) %>
            <tr class="flagged complete">
            <% else %>
            <tr>
            <% end %>
                <td class="text-center"><%= item.id %></td>
                <td><a href="javascript:void(0)"><%= item.user.nil? ? 'No User' : item.user.name %></a></td>
                <td><%= item.email %></td>
                <td><%= item.created_at %></td>
                <td class="text-center">
                <% if item.deposit_paid %>
                <a href="javascript:void(0)" data-toggle="tooltip" title="Paid" class="tick"><i class="fa fa-check"></i></a>
                <% else %>
                <a href="javascript:void(0)" data-toggle="tooltip" title="Unpaid" class="cross"><i class="fa fa-times"></i></a>
                <% end %>
                </td>
                <td class="text-center">
                    <div class="row">
                        <div class="col-sm-4">
                            <% if raform.complete %>
                            <a href="javascript:void(0)" data-toggle="tooltip" title="Risk Assessment completed" class="tick"><i class="fa fa-check"></i></a>
                            <% else %>
                            <a href="javascript:void(0)" data-toggle="tooltip" title="Risk Assessment incomplete" class="cross"><i class="fa fa-times"></i></a>
                            <% end %>
                        </div>
                        <div class="col-sm-4">
                            <% if hsform.complete %>
                            <a href="javascript:void(0)" data-toggle="tooltip" title="Health & Safety completed" class="tick"><i class="fa fa-check"></i></a>
                            <% else %>
                            <a href="javascript:void(0)" data-toggle="tooltip" title="Health & Safety incomplete" class="cross"><i class="fa fa-times"></i></a>
                            <% end %>
                        </div>
                        <div class="col-sm-4">
                            <% if showform.complete %>
                            <a href="javascript:void(0)" data-toggle="tooltip" title="Show Guide application completed" class="tick"><i class="fa fa-check"></i></a>
                            <% else %>
                            <a href="javascript:void(0)" data-toggle="tooltip" title="Show Guide application incomplete" class="cross"><i class="fa fa-times"></i></a>
                            <% end %>
                        </div>                        
                    </div>
                </td>
                <td class="text-center">
                    <div class="row">
                        <div class="col-sm-4">
                            <% if raform.verified %>
                            <a href="javascript:void(0)" data-toggle="tooltip" title="Risk Assessment verified" class="tick"><i class="fa fa-check"></i></a>
                            <% else %>
                            <%= link_to admin_verify_raform_path(raform), :class => 'cross', :'data-toggle' => "tooltip", :title => "Risk Assessment unverified. Click to verify" do %>
                                <i class="fa fa-times"></i>
                            <% end %>
                            <% end %>
                        </div>
                        <div class="col-sm-4">
                            <% if hsform.verified %>
                            <a href="javascript:void(0)" data-toggle="tooltip" title="Health & Safety verified" class="tick"><i class="fa fa-check"></i></a>
                            <% else %>
                            <%= link_to admin_verify_hsform_path(hsform), :class => 'cross', :'data-toggle' => "tooltip", :title => "Health & Safety unverified. Click to verify" do %>
                                <i class="fa fa-times"></i>
                            <% end %>
                            <% end %>
                        </div>
                        <div class="col-sm-4">
                            <% if showform.verified %>
                            <a href="javascript:void(0)" data-toggle="tooltip" title="Show Guide application verified" class="tick"><i class="fa fa-check"></i></a>
                            <% else %>
                            <%= link_to admin_verify_showform_path(showform), :class => 'cross', :'data-toggle' => "tooltip", :title => "Show Guide Application unverified. Click to verify" do %>
                                <i class="fa fa-times"></i>
                            <% end %>
                            <% end %>
                        </div>                        
                    </div>
                </td>
                <td class="text-center">
                    <div class="btn-group">
                    <%= link_to admin_booking_path(item), :class => 'btn btn-xs btn-default', :'data-toggle' => "tooltip", :title => "View" do %>
                        <i class="fa fa-eye"></i>
                    <% end %>
                        <%= link_to edit_admin_booking_path(item), :class => 'btn btn-xs btn-default', :'data-toggle' => "tooltip", :title => "Edit" do %>
                            <i class="fa fa-pencil"></i>
                        <% end %>
                        <%= link_to admin_print_booking_path(item) + '.pdf', :class => 'btn btn-xs btn-default', :'data-toggle' => "tooltip", :title => "Print Booking" do %>
                            <i class="fa fa-print"></i>
                        <% end %>
                        <%= link_to admin_booking_path(item), method: :delete, data: { confirm: "Are you sure you want to delete this booking?" }, :class => 'btn btn-xs btn-default', :'data-toggle' => "tooltip", :title => "Delete", :remote => true do %>
                            <i class="fa fa-times"></i>
                        <% end %>
                    </div>
                    <div class="btn-group">
                        <%= link_to admin_print_raform_path(raform) + '.pdf', :class => 'btn btn-xs btn-default', :'data-toggle' => "tooltip", :title => "Print Risk Assessment" do %>
                            <i class="fa fa-print"></i>
                        <% end %>
                        <%= link_to admin_print_hsform_path(hsform) + '.pdf', :class => 'btn btn-xs btn-default', :'data-toggle' => "tooltip", :title => "Print Health & Safety" do %>
                            <i class="fa fa-print"></i>
                        <% end %>
                        <%= link_to admin_print_showform_path(showform) + '.pdf', :class => 'btn btn-xs btn-default', :'data-toggle' => "tooltip", :title => "Print Show Guide Application" do %>
                            <i class="fa fa-print"></i>
                        <% end %>
                    </div>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
<!--END datatable-->