<!--form for new booking-->
<%= simple_form_for [:admin, @booking], :html => { class: 'form-horizontal' }, defaults: { input_html: { class: 'form-control' }, label_html: { class: 'control-label '} } do |f| %>
<div class="block">
	<div class="block-title">
		<h2>User-editable Booking settings</h2>
	</div>
	
	<div class="form-group">
		<div class="col-md-4"><%= f.input :company_name %></div>
		<div class="col-md-4"><%= f.input :contact_name %></div>
		<div class="col-md-4"><%= f.input :exhibiting_name, input_html: {'data-toggle' => "tooltip", title: "", 'data-original-title' => "The Company Name as it should appear in the Show Guide."} %></div>
	</div>
	<div class="form-group">
		<div class="col-md-4">
			<label class="tel optional control-label" for="booking_telephone">Telephone</label>
			<div class="input-group">
				<span class="input-group-addon">
					<i class="fa fa-phone"></i>
				</span>
				<%= f.input_field :telephone %>
			</div>
		</div>
		<div class="col-md-4">
			<label class="tel optional control-label" for="booking_email">Contact e-mail</label>
			<div class="input-group">
				<span class="input-group-addon">
					<i class="fa fa-envelope"></i>
				</span>
				<%= f.input_field :email %>
			</div>
		</div>	
		<div class="col-md-4">
		<label class="optional control-label" for="booking_website">Website</label>
			<div class="input-group">
				<span class="input-group-addon">
					<i class="fa fa-globe"></i>
				</span>
				<%= f.input_field :website %>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-6"><%= f.input :corporate_membership, label: 'RABDF Corporate Membership?', input_html: { class: '' }, label_html: { class: 'checkbox-inline'} %></div>
		<div class="col-md-6"><%= f.input :tc_agreed, label: 'Booking Terms and Conditions Agreed?', input_html: { class: '' },label_html: { class: 'checkbox-inline'} %></div>
	</div>
	<div class="form-group">
		<div class="col-md-12"><%= f.input :correspondence_address, as: :text %></div>
	</div>
	<div class="form-group">
		<div class="col-md-12"><%= f.input :invoice_address, as: :text %></div>
	</div>
	<div class="form-group">
		<div class="col-md-4"><%= f.input :finance_contact %></div>
		<div class="col-md-4"><%= f.input :finance_telephone %></div>
		<div class="col-md-4"><%= f.input :po_number, label: 'PO Number' %></div>
	</div>
	<div class="form-group">
		<div class="col-md-4"><%= f.input :show_area, input_html: {'data-toggle' => "tooltip", title: "", 'data-original-title' => "The main Show Area."}, collection: ["indoor", 'outdoor', 'machinery hall', 'livestock hall'], prompt: "Select a Show Area" %></div>
		<div class="col-md-4"><%= f.input :zone, input_html: {'data-toggle' => "tooltip", title: "", 'data-original-title' => "If Indoor, the Zone."}, collection: ["animal health", 'business management', 'diversifarm and renewables', 'feeds and forage', 'genetics', 'housing and storage', 'livestock equipment and machinery', 'milking', 'milkmade', 'slurry, much and irrigation'], prompt: "Select a Zone" %></div>
		<div class="col-md-4"><%= f.input :stand_number %></div>
	</div>
	<div class="form-group">
		<div class="col-md-4"><%= f.input :breed_society %></div>
		<div class="col-md-4"><%= f.input :stand_type, collection: ["clear", 'modular'], prompt: "Select a Stand Format", label: 'Stand Format' %></div>
		<div class="col-md-4"><%= f.input :position, collection: ["standard", 'corner', 'peninsula', 'island'], prompt: "Select a Stand Type", label: 'Stand Type' %></div>
	</div>
	<div class="form-group">
		<div class="col-md-6"><%= f.input :frontage, label: 'Frontage/m' %></div>
		<div class="col-md-6"><%= f.input :depth, label: 'Depth/m' %></div>
	</div>
	<div class="form-group">
		
		<div class="col-md-6"><%= f.input :contractor_company_name %></div>
		<div class="col-md-6"><%= f.input :contractor_contact_name %></div>
	</div>
	<div class="form-group">
		<div class="col-md-12"><%= f.input :contractor_address %></div>
	</div>
	<div class="form-group">
		<div class="col-md-6"><%= f.input :contractor_email %></div>
		<div class="col-md-6"><%= f.input :contractor_telephone %></div>
	</div>
	<div class="form-group">
		<div class="col-md-4"><%= f.input :requires_leaflets, input_html: { class: '' }, label_html: { class: 'checkbox-inline'} %></div>
		<div class="col-md-4"><%= f.input :number_leaflets, label: 'Number of leaflets' %></div>
		<div class="col-md-4"><%= f.input :pdf_leaflet, label: 'PDF Leaflet?', input_html: { class: '' }, label_html: { class: 'checkbox-inline'} %></div>
	</div>
	<div class="form-group">
		<div class="col-md-4"><%= f.input :mobile_unit, input_html: { class: '' }, label_html: { class: 'checkbox-inline'} %></div>
		<div class="col-md-4"><%= f.input :livestock_stand, input_html: { class: '' }, label_html: { class: 'checkbox-inline'} %></div>
		<div class="col-md-4"><%= f.input :new_products, input_html: { class: '' }, label_html: { class: 'checkbox-inline'} %></div>
	</div>
	<div class="form-group">
		<div class="col-md-4"><%= f.input :philip_award, input_html: { class: '' }, label_html: { class: 'checkbox-inline'} %></div>
		<div class="col-md-4"><%= f.input :livestock_award, input_html: { class: '' }, label_html: { class: 'checkbox-inline'} %></div>
		<div class="col-md-4"><%= f.input :exports, input_html: { class: '' }, label_html: { class: 'checkbox-inline'} %></div>
	</div>
	<div class="form-group">
		<div class="col-md-4"><%= f.input :placements, input_html: { class: '' }, label_html: { class: 'checkbox-inline'} %></div>
		<div class="col-md-4"><%= f.input :exhibitor_list, input_html: {'data-toggle' => "tooltip", title: "", 'data-original-title' => "If checked, the Exhibitor will appear in the public-facing Exhibitor List.", class: '' }, label_html: { class: 'checkbox-inline'} %></div>
		<div class="col-md-4"><%= f.input :livestock_award, input_html: { class: '' }, label_html: { class: 'checkbox-inline'} %></div>
	</div>
	<div class="form-group">
		<div class="col-md-12"><%= f.input :requirements %></div>
	</div>
</div>
<div class="block">
	<div class="block-title">
		<h2>Admin-only Booking settings</h2>
	</div>
	<div class="form-group">
		<div class="col-md-6">
			<%= f.input :the_deposit, label: 'Deposit' %>
		</div>
		<div class="col-md-6">
			<%= f.input :the_total, label: 'Total' %>
		</div>
		
		
	</div>
	<div class="form-group">
		<div class="col-md-6">
			<%= f.input :deposit_paid, input_html: { class: '' }, label_html: { class: 'checkbox-inline'} %>
		</div>
		
		<div class="col-md-6">
			<%= f.input :total_paid, input_html: { class: '' }, label_html: { class: 'checkbox-inline'} %>
		</div>
		
	</div>
	<div class="form-group">
		<div class="col-md-12">
			<%= f.input :notes %>
		</div>
		
	</div>
	
</div>
<div class="block full">
	<%= f.button :submit, class: "btn btn-success" %>
	
</div>
<% end %>
<!--END form for new booking-->