<%= render "admin/base/left_sidebar" %>
<%= render "admin/base/right_sidebar" %>



<!-- Page Container -->
<!-- In the PHP version you can set the following options from the config file -->
<!-- Add the class .full-width for a full width page (100%, 1920px max width) -->
<div id="page-container">
   
   <%= render "admin/base/top_menu" %>

    <!-- FX Container -->
    <!-- In the PHP version you can set the following options from the config file -->
    <!--
        All effects apply in resolutions larger than 1200px width
        Add one of the following classes to #fx-container for setting an effect to main content when one of the sidebars are opened
        'fx-none'           remove all effects (better website performance)
        'fx-opacity'        opacity effect
        'fx-move'           move effect
        'fx-push'           push effect
        'fx-rotate'         rotate effect
        'fx-push-move'      push-move effect
        'fx-push-rotate'    push-rotate effect
    -->
    <div id="fx-container" class="fx-opacity">
        <!-- Page content -->
        <div id="page-content" class="block">
            
            <%= render partial: "admin/base/header", locals: {bookings_today: @bookings_today, payments_today: @payments_today, profit_today: @profit_today, running_total: @running_total} %>

            <!-- Dashboard Content -->
            <div class="row gutter30">
                <div class="col-md-6">
                    
                    <%= render "admin/base/search" %>

                    <!--timeline includes interactive features-->
                    <% # render "timeline" %>
                    
                </div>
                <div class="col-md-6">
                    
                    <%= render partial: "admin/base/pie_stats", locals: {legend_1: "INDOOR", legend_2: "OUTDOOR", legend_3: "MACHINERY HALL", legend_4: "LIVESTOCK HALL", stat_1: @indoor_space, stat_2: @outdoor_space, stat_3: @machinery_hall_space, stat_4: "0"} %>

                    <%= render "admin/base/graph_stats" %>

                    <% # render "extra_block" %>
                </div>
            </div>
            <!-- END Dashboard Content -->
        </div>
        <!-- END Page Content -->

        <!-- Remember to include excanvas for IE8 chart support -->
        <!--[if IE 8]><script src="js/helpers/excanvas.min.js"></script><![endif]-->

        <!-- Footer -->
        <footer class="clearfix">
            <div class="pull-right">
                Crafted with <i class="fa fa-heart"></i> by <a class="ghostColor" href="http://www.ghostds.com" target="_blank">Ghost Design</a>
            </div>
            <div class="pull-left">
                <span id="year-copy"></span> &copy; <a href="javascript:void(0)" target="_blank">Ghost Design</a>
            </div>
        </footer>
        <!-- END Footer -->
    </div>
    <!-- END FX Container -->
</div>
<!-- END Page Container -->
<!--MAIN Javascript fns -->
<script>
    $(function() {
        // Set up timeline scrolling functionality
        $('.timeline-con').slimScroll({height: 565, color: '#000000', size: '3px', touchScrollStep: 100, distance: '0'});
        $('.timeline').css('min-height', '565px');

        // Demo status updates and timeline functionality
        var statusUpdate = $('#status-update');
        var statusUpdateVal = '';

        $('#accept-request').click(function() {
            $(this).replaceWith('<span class="label label-success">Awesome, you became friends!');
        });

        $('#status-update-btn').click(function() {
            statusUpdateVal = statusUpdate.val();

            if (statusUpdateVal) {
                $('.timeline-con').slimScroll({scrollTo: '0px'});

                $('.timeline').prepend('<li class="animation-pullDown">' +
                    '<div class="timeline-item">' +
                    '<h4 class="timeline-title"><small class="timeline-meta">just now</small><i class="fa fa-file"></i> Status</h4>' +
                    '<div class="timeline-content"><p>' + $('<div />').text(statusUpdateVal).html().substring(0, 200) + '</p><em>Demo functionality</em></div>' +
                    '</div>' +
                    '</li>');

                statusUpdate.val('').attr('placeholder', 'I hope you like it! :-)');
            }
        });

        /*
         * Flot 0.8.1 Jquery plugin is used for charts
         *
         * For more examples or getting extra plugins you can check http://www.flotcharts.org/
         * Plugins included in this template: pie, resize, stack
         */

        // Get the elements where we will attach the charts
        var chartClassic = $('#chart-classic');

        // Initialize data for the charts
        var dataVisits = [];
        var dataUniqueVisits = [];

        //get references for the 'from' and 'to' dates

        var now = new Date();

        var then = new Date();
        then.setDate(then.getDate() - 7);
        

        var url = "https://api.gosquared.com/trends/v2/aggregate?api_key=RDC1I4ICWSHFNURB&site_token=GSN-061677-S&from=" + then.getFullYear() + "-" + (then.getMonth() + 1) + "-" + then.getDate() + "&to=" + now.getFullYear() + "-" + (now.getMonth() + 1) + "-" + now.getDate() + "&interval=day";
        console.log(url);

        //get AJAX data for the charts

        $.getJSON( url, function( data ) {
          var items = [];
          $.each( data.list, function( i, item ) {
            items.push( item );
          });

          items.sort(function(a,b){
            a = new Date(a.from);
            b = new Date(b.from);
            return a<b?-1:a>b?1:0;
          });
         
          for (var i = items.length - 1; i >= 0; i--) {
                
                var x = items.length - 1 - i;
                var metrics = items[x].metrics;
                if(metrics.visits === undefined) {
                    metrics.visits = 0;
                };
                if(metrics.new_visits === undefined) {
                    metrics.new_visits = 0;
                };
                var yi = metrics.visits;
                var yii = metrics.new_visits;

                //set a date for each

                var itemDate = new Date();
                itemDate.setDate(itemDate.getDate() - 7 + x);
                var hrDate;
                switch(itemDate.getDay()) {

                    case 0:
                        hrDate = "Monday";
                        break;
                    case 1:
                        hrDate = "Tuesday";
                        break;
                    case 2:
                        hrDate = "Wednesday";
                        break;
                    case 3:
                        hrDate = "Thursday";
                        break;
                    case 4:
                        hrDate = "Friday";
                        break;
                    case 5:
                        hrDate = "Saturday";
                        break;
                    case 6:
                        hrDate = "Sunday";
                        break;

                    }

                    

                dataVisits.push( [x, yi, hrDate] );
                dataUniqueVisits.push( [x, yii, hrDate] );
                console.log(dataVisits);
          };

          /* Classic Chart */
          $.plot(chartClassic,
              [
                  {
                      data: dataVisits,
                      lines: {show: true, fill: true, fillColor: {colors: [{opacity: 0.25}, {opacity: 0.25}]}},
                      points: {show: true, radius: 7}
                  },
                  {
                      data: dataUniqueVisits,
                      lines: {show: true, fill: true, fillColor: {colors: [{opacity: 0.15}, {opacity: 0.15}]}},
                      points: {show: true, radius: 7}
                  }
              ],
              {
                  colors: ['#f39c12', '#2e3030'],
                  legend: {show: false},
                  grid: {borderWidth: 0, hoverable: true, clickable: true},
                  yaxis: {show: false},
                  xaxis: {show: false}
              }
          );

          // Creating and attaching a tooltip to the classic chart
          var previousPoint = null, ttlabel = null;
          chartClassic.bind('plothover', function(event, pos, item) {

              if (item) {
                  if (previousPoint !== item.dataIndex) {
                      previousPoint = item.dataIndex;

                      $('#chart-tooltip').remove();
                      var x = item.datapoint[0], y = item.datapoint[1];

                      var z;
                      if (item.seriesIndex === 1) {
                          z = dataUniqueVisits[x-1][2];
                          ttlabel = '<i>' + z + '</i><br /><strong>' + y + '</strong> new visits';
                      } else {
                          z = dataVisits[x-1][2];
                          ttlabel = '<i>' + z + '</i><br /><strong>' + y + '</strong> visits';
                      }

                      $('<div id="chart-tooltip" class="chart-tooltip">' + ttlabel + '</div>')
                          .css({top: item.pageY - 45, left: item.pageX + 5}).appendTo("body").show();
                  }
              }
              else {
                  $('#chart-tooltip').remove();
                  previousPoint = null;
              }
          });



        });
        
        

        

        
    });
</script>
<!-- END MAIN Javascript fns-->