<div class="flipper">
	<div class="front">
		<span class="tile-title">{{#link-to 'exhibitors.index' class="backbutton"}}<span class="icon-back"></span>{{/link-to}}Exhibitor: {{name}}</span>

		<div class="row firstRow">
			<div class="small-12 columns">
				<p>{{name}} will be exhibiting in the <strong>{{area}}</strong>.</p>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<h1>About {{name}}</h1>
				<p>{{{description}}}</p>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<h1>Exhibitor Contact Details</h1>
				<p>Telephone: {{telephone}}</p>
				<p>Web: {{website}}</p>
			</div>
		</div>
		
		
	</div>
	<div class="back">
		
	</div>
</div>