<!--BEGIN datatable-->
<div class="table-responsive">
    <table id="example-datatable" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Job Role</th>
                <th>Display on tile?</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% model.each do |item| %>
            <tr>
                <td><img src="<%= item.image %>" alt="<%= item.name %>" height="100"></td>
                <td><a href="javascript:void(0)"><%= item.name %></td>
                <td><%= item.job %></td>
                <td>
                    <% if item.enabled %>
                    <a href="javascript:void(0)" data-toggle="tooltip" title="Shown on public 'About Us' tile" class="tick"><i class="fa fa-check"></i></a>
                    <% else %>
                    <a href="javascript:void(0)" data-toggle="tooltip" title="Not shown on public 'About Us' tile" class="cross"><i class="fa fa-times"></i></a>
                    <% end %>
                </td>
                <td class="text-center">
                    <div class="btn-group">
                    <%= link_to admin_staff_member_path(item), :class => 'btn btn-xs btn-default', :'data-toggle' => "tooltip", :title => "View" do %>
                        <i class="fa fa-eye"></i>
                    <% end %>
                        <%= link_to edit_admin_staff_member_path(item), :class => 'btn btn-xs btn-default', :'data-toggle' => "tooltip", :title => "Edit" do %>
                            <i class="fa fa-pencil"></i>
                        <% end %>
                        <%= link_to admin_staff_member_path(item), method: :delete, data: { confirm: "Are you sure you want to remove this staff member? If you would prefer them to be disabled, uncheck the 'enabled' option in the 'edit Staff Member' screen." }, :class => 'btn btn-xs btn-default', :'data-toggle' => "tooltip", :title => "Remove", :remote => true do %>
                            <i class="fa fa-times"></i>
                        <% end %>
                    </div>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
<!--END datatable-->