<div class="btn-group">
    <a href="javascript:void(0)" data-toggle="dropdown" class="btn btn-success dropdown-toggle"><%= title %> <span class="caret"></span></a>
    <ul class="dropdown-menu text-left">
        <li class="dropdown-header"><%= dropdown_title %></li>
        <li><a href="<%= action_1_path %>"><%= action_1 %></a></li>
        <li><a href="<%= action_2_path %>"><%= action_2 %></a></li>
        <li class="divider"></li>
        <li class="disabled"><a href="javascript:void(0)">Disabled</a></li>
    </ul>
</div>