<!-- Quick Stats Block -->
<div class="block">
    <!-- Quick Stats Title -->
    <div class="block-title">
        <h2 class="text-center"><i class="fa fa-suitcase"></i> Exhibitor Block Space <small>Usage - <a href="page_ready_pricing_tables.html">See floorplan</a></small></h2>
    </div>
    <!-- END Quick Stats Title -->

    <!-- Quick Stats Content -->
    <div class="row">
        <div class="col-lg-3">
            <div class="pie-chart block-section" data-percent="<%= stat_1 %>" data-size="150">
                <span><strong><%= stat_1 %></strong><small>%</small></span>
            </div>
            <div class="block-caption">
                <span><%= legend_1 %></span>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="pie-chart block-section" data-percent="<%= stat_2 %>" data-size="150">
                <span><strong><%= stat_2 %></strong><small>%</small></span>
            </div>
            <div class="block-caption">
                <span><%= legend_2 %></span>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="pie-chart block-section" data-percent="<%= stat_3 %>" data-size="150">
                <span><strong><%= stat_3 %></strong><small>%</small></span>
            </div>
            <div class="block-caption">
                <span><%= legend_3 %></span>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="pie-chart block-section" data-percent="<%= stat_4 %>" data-size="150">
                <span><strong>?</strong><small></small></span>
            </div>
            <div class="block-caption">
                <span><%= legend_4 %></span>
            </div>
        </div>
    </div>
    <!-- END Quick Stats Content -->
</div>
<!-- END Quick Stats Block -->