
{{#if isAuthenticated}}
  <span {{bind-attr class=":authNotice isIndex:indexLogin:notIndexLogin"}}><span class="icon-link-icon"></span> {{currentUser.email}}</span>
{{/if}}
<span id="st-trigger-effects" class="menuButton"><a data-effect="st-effect-2" id="st-trigger-effect" class="link login offset"><span class="icon-menu"></span><span class="buttonLabel">{{#if isAuthenticated}}menu{{else}}log in{{/if}}</span></a></span>


<div {{bind-attr class=":tile :filters :tile-quarter-tall :tile-half-wide :tile-offset-vertical-quarter isIndex:indexFilter:notIndexFilter"}} data-speed="750" data-delay="999999999">
    <span class="tile-title">general_info</span>
    <div id="general_filter" class=" rabdfblue filter" data-filter=".general_info">
    	<div class="row filterContent">
    		<div class="small-12 columns vertWrap">
    			<div class="vertElement">
    				<a class="button callToAction noBG small"><span class="icon-info"></span></a>
    				<span class="buttonLabel">general info</span>
    			</div>
    		</div>
    	</div>
    </div>
</div>
<div {{bind-attr class=":tile :filters :tile-quarter-tall :tile-half-wide :tile-offset-vertical-quarter isIndex:indexFilter:notIndexFilter"}} data-speed="750" data-delay="999999999">
    <span class="tile-title">visitor_info</span>
    <div id="visitor_filter" class="rabdfpink filter" data-filter=".visitor">
    	<div class="row filterContent">
    		<div class="small-12 columns vertWrap">
    			<div class="vertElement">
    				<a class="button callToAction noBG small"><span class="icon-link-icon"></span></a>
    				<span class="buttonLabel">visitor info</span>
    			</div>
    		</div>
    	</div>
    </div>
</div>
<div {{bind-attr class=":tile :filters :tile-quarter-tall :tile-half-wide :tile-offset-vertical-quarter :secondRowFilter isIndex:indexFilter:notIndexFilter"}} data-speed="750" data-delay="999999999">
    <span class="tile-title">exhibitor_info</span>
    <div id="exhibitor_filter" class="rabdforange filter" data-filter=".exhibitor">
    	<div class="row filterContent">
    		<div class="small-12 columns vertWrap">
    			<div class="vertElement">
    				<a class="button callToAction noBG small"><span class="icon-card-user"></span></a>
    				<span class="buttonLabel">exhibitor info</span>
    			</div>
    		</div>
    	</div>
    </div>
</div>
<div {{bind-attr class=":tile :filters :secondRowFilter :tile-quarter-tall :tile-half-wide :tile-offset-vertical-quarter isIndex:indexFilter:notIndexFilter"}} data-speed="750" data-delay="999999999">
    <span class="grayheading">Show me...</span>
    <span class="tile-title">all</span>
    <div id="all_filter" class="rabdfgreen filter" data-filter="*">
    	<div class="row filterContent">
    		<div class="small-12 columns vertWrap">
    			<div class="vertElement">
    				<a class="button callToAction noBG small"><span class="icon-eye"></span></a>
    				<span class="buttonLabel">all</span>
    			</div>
    		</div>
    	</div>
    </div>
</div>