<div id="hcard-Sian-Mercer" class="vcard">
 <a class="url fn" href="http://www.livestockevent.co.uk">{{controllers.application.siteContent.livestockContactName}}</a>
 <div class="org">{{controllers.application.siteContent.livestockContactOrg}}</div>
 <div class="adr">
  <div class="street-address">{{controllers.application.siteContent.livestockContactStreet}}</div>
  <span class="locality">{{controllers.application.siteContent.livestockContactLocality}}</span>
, 
  <span class="region">{{controllers.application.siteContent.livestockContactRegion}}</span>
, 
  <span class="postal-code">{{controllers.application.siteContent.livestockContactPostcode}}</span>

  <span class="country-name">{{controllers.application.siteContent.livestockContactCountry}}</span>

 </div>