<div class="tabs row">
  <div class="tab currentTab small-3 columns">
    <a href="#" data-orbit-link="why_1">
      
      <div class="tabText">
        {{controllers.application.siteContent.whyOneTitle}}
      </div>
    </a>
  </div>
  <div class="tab small-3 columns">
    <a href="#" data-orbit-link="why_2">
      
      <div class="tabText">
        <span class="largeText">{{controllers.application.siteContent.whyTwoTitle}}</span>
        <span class="smallText">support</span>
      </div>
    </a>
  </div>
  <div class="tab small-3 columns">
    <a href="#" data-orbit-link="why_3">
      
      <div class="tabText">
        <span class="largeText">{{controllers.application.siteContent.whyThreeTitle}}</span>
        <span class="smallText">seminars</span>
      </div>
    </a>
  </div>
  <div class="tab small-3 columns">
    <a href="#" data-orbit-link="why_4">
      
      <div class="tabText">
        <span class="largeText">{{controllers.application.siteContent.whyFourTitle}}</span>
        <span class="smallText">ads</span>
      </div>
    </a>
  </div>
</div>

<ul data-orbit>
  <li data-orbit-slide="why_1">
    <div class="row">
      <div class="large-9 small-12 columns">
       {{{controllers.application.siteContent.whyOneText}}}
      </div>
      <div class="large-3 small-12 columns">
        {{partial "quick_actions"}}
      </div>
    </div>
  </li>
  <li data-orbit-slide="why_2">
  <div class="row">
        <div class="large-9 small-12 columns">

        {{{controllers.application.siteContent.whyTwoText}}}

        </div>
        <div class="large-3 small-12 columns">
          {{partial "quick_actions_media"}}
        </div>
      </div>
  </li>
  <li data-orbit-slide="why_3">
    <div class="row">
        <div class="large-9 small-12 columns">

         {{{controllers.application.siteContent.whyThreeText}}}
         
        </div>  
        <div class="large-3 small-12 columns">
          {{partial "quick_actions_sponsorship"}}
        </div>
    </div>
  </li>
  <li data-orbit-slide="why_4">
   <div class="row">
        <div class="large-9 small-12 columns">

          {{{controllers.application.siteContent.whyFourText}}}
        
        </div>
        <div class="large-3 small-12 columns">
          {{partial "quick_actions_media"}}
        </div>
    </div>
  </li>
</ul>
