<div id="st-container" class="st-container st-effect-2">
	<nav class="st-menu st-effect-2" id="menu-2">
		{{#unless isAuthenticated}}
		<h2 class="">LOG IN</h2>
		{{else}}
		<h2 class="">Quick Links</h2>
		{{/unless}}
		{{#unless isAuthenticated}}
		<div class="row">
			<div class="small-12 columns">
				{{view App.AuthView }}
			</div>
		</div>
		{{else}}
		<ul>
			<li>
				{{#link-to 'users.show' currentUser}}My Account{{/link-to}}
			</li>
			<li>
				{{#link-to 'bookings.index'}}My Bookings{{/link-to}}
			</li>
			<li>
				{{#link-to 'orders.index'}}My Payments{{/link-to}}
			</li>
			<li>
				<a {{action 'logout'}}>Log Out</a>
			</li>
		</ul>
		{{/unless}}
		<div class="row">
		  <div class="small-12 columns" style="text-align:center;">
		    <a style="line-height: 1.2em;" href="https://dl.dropboxusercontent.com/u/57653232/Hosted%20files%20for%20RABDF%20DO%20NOT%20DELETE/forms/public/Compulsory%20and%20Additional%20Forms.zip" class="inlineLink">Compulsory &amp; Additional Forms</a>
		  </div>
		</div>
	</nav>
	<div id="pusherContainer" class="st-pusher">
		<div id="pageContainer" class="st-content">
			
				<div class="container">
					{{view App.HeaderView}}
					
					{{outlet}}

					{{#if isInnerPage}}
						
					<div class="sidebarHolder">
						{{render sidebar}}
					</div>

					{{/if}}
						
					{{view App.FooterView}}
				</div>
			
		</div>
	</div>
</div>