<div class="isotopeContainer">
{{view App.TestimonialsTileView}}
{{view App.WelcomeView}}
{{view App.ImagehalfView}}
{{view App.LivestockExhibitorsView}}
{{view App.WhyVisitView}}
{{view App.GettingThereView}}
{{view App.WhatsOnView}}
{{view App.VisitorTicketsView}}
{{view App.ExhibitorStandSpaceView}}
{{view App.NewsView}}
{{view App.ImageView}}
{{view App.ImagehalfView}}
{{view App.SocialView}}
{{view App.ContactView}}
{{view App.AboutView}}
{{view App.ImagehalfView}}
{{view App.ContractorsTileView}}
{{view App.AfarView}}
{{view App.SponsorView}}
</div>