<div class="flipper">
  <div class="front">
    <span class="tile-title">{{#link-to 'index' class="backbutton"}}<span class="icon-back"></span>{{/link-to}}Schedules & Information</span>
    <span class="tile-title underTab"></span>
    <div class="row">
      <div class="tabs row">
        <div class="tab currentTab small-2 columns">
          <a href="#" data-orbit-link="show_1">
            
            <div class="tabText">
              <span class="largeText">Dairy</span>
              <span class="smallText">Dairy</span>
            </div>
          </a>
        </div>
        <div class="tab small-2 columns">
          <a href="#" data-orbit-link="show_2">
            
            <div class="tabText">
              <span class="largeText">Charolais</span>
              <span class="smallText">Charolais</span>
            </div>
          </a>
        </div>

        <div class="tab small-2 columns">
          <a href="#" data-orbit-link="show_3">
            
            <div class="tabText">
              <span class="largeText">British Blue</span>
              <span class="smallText">British Blue</span>
            </div>
          </a>
        </div>

        <div class="tab small-2 columns">
          <a href="#" data-orbit-link="show_4">
            
            <div class="tabText">
              <span class="largeText">Aberdeen Angus</span>
              <span class="smallText">Aberdeen Angus</span>
            </div>
          </a>
        </div>

        <div class="tab small-2 columns">
          <a href="#" data-orbit-link="show_5">
            
            <div class="tabText">
              <span class="largeText">Lleyn Sheep</span>
              <span class="smallText">Lleyn Sheep</span>
            </div>
          </a>
        </div>

        <div class="tab small-2 columns">
          <a href="#" data-orbit-link="show_6">
            
            <div class="tabText">
              <span class="largeText">About</span>
              <span class="smallText">About</span>
            </div>
          </a>
        </div>
      </div>

      <ul data-orbit>

      	<!--BEGIN NDS slide -->

        <li data-orbit-slide="show_1">
          <div class="row">
          	<div class="small-12 columns">

            <h1>National Dairy Show</h1>

               <p><strong>{{{controllers.application.siteContent.livestockResultsNoticesDairy}}}</strong></p>

               {{partial "livestock_actions_nds"}}

               <a target="_blank" class="inlineLink" href="https://www.dropbox.com/s/6un3sn22u68sl85/Dairy%20Exhibitor%20Info%202014.docx">Download crucial information <small>(DOC)</small></a>

               

               <div class="row tb_info">
                 <div class="small-12 columns">
                   {{partial 'cattle_tb'}}
                 </div>
               </div>
               
               

               
               <p>For further information on how to apply, contact Sian Mercer via email (<a href="mailto:sianmercer@rabdf.co.uk">sianmercer@rabdf.co.uk</a>) or phone (<a href="tel:08454582711">0845 458 2711</a>).</p>
            </div>
          </div>
          
        </li>

        <!-- END NDS slide -->

              	<!--BEGIN Charolais slide -->
              	
                <li data-orbit-slide="show_2">
                  <div class="row">
                  	<div class="small-12 columns">

                    <h1>National Charolais Show</h1>

                       <p><strong>{{{controllers.application.siteContent.livestockResultsNoticesCharolais}}}</strong></p>

                       {{partial "livestock_actions_ncs"}}

                       <a target="_blank" class="inlineLink" href="https://dl.dropboxusercontent.com/u/57653232/Hosted%20files%20for%20RABDF%20DO%20NOT%20DELETE/Beef%20Exhibitor%20Info%202014.docx">Download crucial information <small>(DOC)</small></a>

               

               <div class="row tb_info">
                 <div class="small-12 columns">
                   {{partial 'cattle_tb'}}
                 </div>
               </div>


                       
                       

                       
                       <p>For further information on how to apply, contact Sian Mercer via email (<a href="mailto:sianmercer@rabdf.co.uk">sianmercer@rabdf.co.uk</a>) or phone (<a href="tel:08454582711">0845 458 2711</a>).</p>
                    </div>
                  </div>
                 
                </li>

                <!-- END NCS slide -->

                      	<!--BEGIN NBBS slide -->
                      	
                        <li data-orbit-slide="show_3">
                          <div class="row">
                          	<div class="small-12 columns">

                            <h1>National British Blue Show</h1>

                               <p><strong>{{{controllers.application.siteContent.livestockResultsNoticesBb}}}</strong></p>

                               {{partial "livestock_actions"}}

                               <a target="_blank" class="inlineLink" href="https://dl.dropboxusercontent.com/u/57653232/Hosted%20files%20for%20RABDF%20DO%20NOT%20DELETE/Beef%20Exhibitor%20Info%202014.docx">Download crucial information <small>(DOC)</small></a>

               

               <div class="row tb_info">
                 <div class="small-12 columns">
                   {{partial 'cattle_tb'}}
                 </div>
               </div>

              
                               
                               

                               
                               <p>For further information on how to apply, contact Sian Mercer via email (<a href="mailto:sianmercer@rabdf.co.uk">sianmercer@rabdf.co.uk</a>) or phone (<a href="tel:08454582711">0845 458 2711</a>).</p>
                            </div>
                          </div>
                          
                        </li>

                        <!-- END NBBS slide -->

                              	<!--BEGIN NAAS slide -->
                              	
                                <li data-orbit-slide="show_4">
                                  <div class="row">
                                  	<div class="small-12 columns">

                                    <h1>National Aberdeen Angus Show</h1>

                                       <p><strong>{{{controllers.application.siteContent.livestockResultsNoticesAa}}}</strong></p>

                                       {{partial "livestock_actions"}}

                                     <a target="_blank" class="inlineLink" href="https://dl.dropboxusercontent.com/u/57653232/Hosted%20files%20for%20RABDF%20DO%20NOT%20DELETE/Beef%20Exhibitor%20Info%202014.docx">Download crucial information <small>(DOC)</small></a>

               

               <div class="row tb_info">
                 <div class="small-12 columns">
                   {{partial 'cattle_tb'}}
                 </div>
               </div>

                      
                                       
                                       

                                       
                                       <p>For further information on how to apply, contact Sian Mercer via email (<a href="mailto:sianmercer@rabdf.co.uk">sianmercer@rabdf.co.uk</a>) or phone (<a href="tel:08454582711">0845 458 2711</a>).</p>
                                    </div>
                                  </div>
                                  
                                </li>

                                <!-- END NAAS slide -->

                                      	<!--BEGIN NLSC slide -->
                                      	
                                        <li data-orbit-slide="show_5">
                                          <div class="row">
                                          	<div class="small-12 columns">

                                            <h1>National Lleyn Sheep Competition</h1>

                                               <p><strong>{{{controllers.application.siteContent.livestockResultsNoticesLleyn}}}</strong></p>


                                               {{partial "livestock_actions_nlsc"}}

                                              <a target="_blank" class="inlineLink" href="https://dl.dropboxusercontent.com/u/57653232/Hosted%20files%20for%20RABDF%20DO%20NOT%20DELETE/National%20Lleyn%20Sheep%20Competition-entryInfo.docx">Download crucial information <small>(DOC)</small></a>

               <div class="row">
                 <div class="small-12 columns">
                   {{partial 'nlsc_info'}}
                 </div>
               </div>

               <div class="row mv_info">
                 <div class="small-12 columns">
                   {{partial 'sheep_mv'}}
                 </div>
               </div>

                                				
                                               
                                               

                                               
                                               <p>For further information on how to apply, contact Sian Mercer via email (<a href="mailto:sianmercer@rabdf.co.uk">sianmercer@rabdf.co.uk</a>) or phone (<a href="tel:08454582711">0845 458 2711</a>).</p>
                                            </div>
                                          </div>
                                          
                                        </li>

                                        <!-- END NLSC slide -->

                                              	<!--BEGIN About slide -->
                                              	
                                                <li data-orbit-slide="show_6">
                                                  <div class="row">
                                                  	<div class="small-12 columns">

                                                    <h1>About the Livestock Shows</h1>

                                                       <p><strong>Important notices</strong></p>

                                                       {{partial "livestock_actions"}}

                                                       {{{controllers.application.siteContent.livestockResultsAbout}}}

                                                       
                                                       
                                                       

                                                       
                                                       <p>For further information, contact Sian Mercer via email (<a href="mailto:sianmercer@rabdf.co.uk">sianmercer@rabdf.co.uk</a>) or phone (<a href="tel:08454582711">0845 458 2711</a>).</p>
                                                    </div>
                                                  </div>
                                                  
                                                </li>

                                                <!-- END About slide -->

      </ul>

    </div>
  </div>
  <div class="back">
    
  </div>
</div>