<div class="flipper">
  <div class="front">
    <span class="tile-title">{{#link-to 'index' class="backbutton"}}<span class="icon-back"></span>{{/link-to}}Livestock Show Booking</span>
    <span class="tile-title underTab"></span>
    <div class="row">
      <div class="tabs row">
        <div class="tab currentTab small-2 columns">
          <a href="#" data-orbit-link="show_1">
            
            <div class="tabText">
              <span class="largeText">Dairy</span>
              <span class="smallText">Dairy</span>
            </div>
          </a>
        </div>
        <div class="tab small-2 columns">
          <a href="#" data-orbit-link="show_2">
            
            <div class="tabText">
              <span class="largeText">Charolais</span>
              <span class="smallText">Charolais</span>
            </div>
          </a>
        </div>

        <div class="tab small-2 columns">
          <a href="#" data-orbit-link="show_3">
            
            <div class="tabText">
              <span class="largeText">British Blue</span>
              <span class="smallText">British Blue</span>
            </div>
          </a>
        </div>

        <div class="tab small-2 columns">
          <a href="#" data-orbit-link="show_4">
            
            <div class="tabText">
              <span class="largeText">Aberdeen Angus</span>
              <span class="smallText">Aberdeen Angus</span>
            </div>
          </a>
        </div>

        <div class="tab small-2 columns">
          <a href="#" data-orbit-link="show_5">
            
            <div class="tabText">
              <span class="largeText">Lleyn Sheep</span>
              <span class="smallText">Lleyn Sheep</span>
            </div>
          </a>
        </div>

        <div class="tab small-2 columns">
          <a href="#" data-orbit-link="show_6">
            
            <div class="tabText">
              <span class="largeText">About</span>
              <span class="smallText">About</span>
            </div>
          </a>
        </div>
      </div>

      <ul data-orbit>

      	<!--BEGIN NDS slide -->

        <li data-orbit-slide="show_1">
          <div class="row">
          	<div class="small-12 columns">

            <h1>National Dairy Show</h1>

               <p><strong id="important_notices">Important notices</strong></p>

               {{partial "livestock_actions"}}

         {{{controllers.application.siteContent.livestockAboutNds}}}

     <h2>Application Forms</h2>

     <p>To enter the National Dairy Show, you need to enter cattle to the event. You also need to book stalls and accommodation. To do this, <strong>fill out the forms below</strong>, print them out, sign them, and mail them to:</p>

         <div class="row">
           <div class="small-10 small-centered columns">
             <div id="hcard-Sian-Mercer" class="vcard">
              <a class="url fn" href="http://www.livestockevent.co.uk">Sian Mercer</a>
              <div class="org">RABDF Events Ltd.</div>
              <div class="adr">
               <div class="street-address">Stoneleigh Deer Park Business Village</div>
               <span class="locality">Kenilworth</span>
             , 
               <span class="region">Warwickshire</span>
             , 
               <span class="postal-code">CV8 2LY</span>

               <span class="country-name">United Kingdom</span>

              </div>
           </div>
         </div>

				{{#link-to 'nds-entry' class="inlineLink"}}Enter the National Dairy Show{{/link-to}}<br />
				{{#link-to 'nds-accommodation' class="inlineLink"}}Book Stalls and Accommodation{{/link-to}}<br />
               
               <h2>Conditions and Rules of Entry</h2>
               <p><em>Non-observance of these rules renders the competitors liable to disqualification. Entries from accredited herds only.</em></p>

               {{partial "conditions_of_entry"}}


               
               <p>For further information on how to apply, contact Sian Mercer via email (<a href="mailto:sianmercer@rabdf.co.uk">sianmercer@rabdf.co.uk</a>) or phone (<a href="tel:08454582711">0845 458 2711</a>).</p>
            </div>
          </div>
          
        </li>

        <!-- END NDS slide -->

              	<!--BEGIN Charolais slide -->
              	
                <li data-orbit-slide="show_2">
                  <div class="row">
                  	<div class="small-12 columns">

                    <h1>National Charolais Show</h1>

                       <p><strong>Important notices</strong></p>

                       {{partial "livestock_actions"}}

                       {{{controllers.application.siteContent.livestockAboutCharolais}}}

                       

                       <h2>Application Forms</h2>

                       <p>To enter the National Charolais Show, you need to enter cattle to the event. You also need to book stalls and accommodation. To do this, <strong>fill out the forms below</strong>, print them out, sign them, and mail them to:</p>

                      <div class="row">
                        <div class="small-10 small-centered columns">
                          <div id="hcard-Sian-Mercer" class="vcard">
                           <a class="url fn" href="http://www.livestockevent.co.uk">Sian Mercer</a>
                           <div class="org">RABDF Events Ltd.</div>
                           <div class="adr">
                            <div class="street-address">Stoneleigh Deer Park Business Village</div>
                            <span class="locality">Kenilworth</span>
                          , 
                            <span class="region">Warwickshire</span>
                          , 
                            <span class="postal-code">CV8 2LY</span>

                            <span class="country-name">United Kingdom</span>

                           </div>
                        </div>
                      </div>
                       


        				{{#link-to 'ncs-entry' class="inlineLink"}}Enter the National Charolais Show{{/link-to}}<br />
        				{{#link-to 'ncs-accommodation' class="inlineLink"}}Book Stalls and Accommodation{{/link-to}}
                       
                       {{partial "ncs_conditions_of_entry"}}

                       
                       <p>For further information on how to apply, contact Sian Mercer via email (<a href="mailto:sianmercer@rabdf.co.uk">sianmercer@rabdf.co.uk</a>) or phone (<a href="tel:08454582711">0845 458 2711</a>).</p>
                    </div>
                  </div>
                 
                </li>

                <!-- END NCS slide -->

                      	<!--BEGIN NBBS slide -->
                      	
                        <li data-orbit-slide="show_3">
                          <div class="row">
                          	<div class="small-12 columns">

                            <h1>National British Blue Show</h1>

                               <p><strong>Important notices</strong></p>

                               {{partial "livestock_actions"}}


                               {{{controllers.application.siteContent.livestockAboutBb}}}

                               <h2>Application Forms</h2>

                               <p>To enter the National British Blue Show, you need to enter cattle to the event. You also need to book stalls and accommodation. To do this, <strong>fill out the forms below</strong>, print them out, sign them, and mail them to:</p>

                                                     <div class="row">
                                                       <div class="small-10 small-centered columns">
                                                         <div id="hcard-Sian-Mercer" class="vcard">
                                                          <a class="url fn" href="http://www.livestockevent.co.uk">Sian Mercer</a>
                                                          <div class="org">RABDF Events Ltd.</div>
                                                          <div class="adr">
                                                           <div class="street-address">Stoneleigh Deer Park Business Village</div>
                                                           <span class="locality">Kenilworth</span>
                                                         , 
                                                           <span class="region">Warwickshire</span>
                                                         , 
                                                           <span class="postal-code">CV8 2LY</span>

                                                           <span class="country-name">United Kingdom</span>

                                                          </div>
                                                       </div>
                                                     </div>

                				{{#link-to 'nbbs-entry' class="inlineLink"}}Enter the National British Blue Show{{/link-to}}<br />
                				{{#link-to 'nbbs-accommodation' class="inlineLink"}}Book Stalls and Accommodation{{/link-to}}
                               
                               {{partial "nbbs_conditions_of_entry"}}

                               
                               <p>For further information on how to apply, contact Sian Mercer via email (<a href="mailto:sianmercer@rabdf.co.uk">sianmercer@rabdf.co.uk</a>) or phone (<a href="tel:08454582711">0845 458 2711</a>).</p>
                            </div>
                          </div>
                          
                        </li>

                        <!-- END NBBS slide -->

                              	<!--BEGIN NAAS slide -->
                              	
                                <li data-orbit-slide="show_4">
                                  <div class="row">
                                  	<div class="small-12 columns">

                                    <h1>National Aberdeen Angus Show</h1>

                                       <p><strong>Important notices</strong></p>

                                       {{partial "livestock_actions"}}

                                       {{{controllers.application.siteContent.livestockAboutAa}}}


                                       <h2>Application Forms</h2>

                                       <p>To enter the National Aberdeen Angus Show, you need to enter cattle to the event. You also need to book stalls and accommodation. To do this, <strong>fill out the forms below</strong>, print them out, sign them, and mail them to:</p>

                             <div class="row">
                               <div class="small-10 small-centered columns">
                                 <div id="hcard-Sian-Mercer" class="vcard">
                                  <a class="url fn" href="http://www.livestockevent.co.uk">Sian Mercer</a>
                                  <div class="org">RABDF Events Ltd.</div>
                                  <div class="adr">
                                   <div class="street-address">Stoneleigh Deer Park Business Village</div>
                                   <span class="locality">Kenilworth</span>
                                 , 
                                   <span class="region">Warwickshire</span>
                                 , 
                                   <span class="postal-code">CV8 2LY</span>

                                   <span class="country-name">United Kingdom</span>

                                  </div>
                               </div>
                             </div>

{{#link-to 'naas-entry' class="inlineLink"}}Enter the National Aberdeen Angus Show{{/link-to}}<br />
{{#link-to 'naas-accommodation' class="inlineLink"}}Book Stalls and Accommodation{{/link-to}}
       
       {{partial "naas_conditions_of_entry"}}

       
       <p>For further information on how to apply, contact Sian Mercer via email (<a href="mailto:sianmercer@rabdf.co.uk">sianmercer@rabdf.co.uk</a>) or phone (<a href="tel:08454582711">0845 458 2711</a>).</p>
    </div>
  </div>
  
</li>

<!-- END NAAS slide -->

      	<!--BEGIN NLSC slide -->
      	
        <li data-orbit-slide="show_5">
          <div class="row">
          	<div class="small-12 columns">

            <h1>National Lleyn Sheep Competition</h1>

               <p><strong>Important notices</strong></p>


               {{partial "livestock_actions"}}

               {{{controllers.application.siteContent.livestockAboutLleyn}}}

               

               <h2>Applying</h2>

               <p>Once pen bookings have been made, Heather Stoney from the Lleyn Sheep Society will contact you in regard to the animals you are entering.  If you have any queries about the animals you are entering please contact Heather on <a href="tel:07966699930">07966 699930</a>, or email her at <a href="mailto:promotions@lleynsheep.com">promotions@lleynsheep.com</a>.</p>

				{{#link-to 'nlsc-accommodation' class="inlineLink"}}Book Stalls and Accommodation{{/link-to}}<br />
               
               {{partial "nlsc_conditions_of_entry"}}

               
               <p>For further information on how to apply, contact Sian Mercer via email (<a href="mailto:sianmercer@rabdf.co.uk">sianmercer@rabdf.co.uk</a>) or phone (<a href="tel:08454582711">0845 458 2711</a>).</p>
            </div>
          </div>
          
        </li>

        <!-- END NLSC slide -->

              	<!--BEGIN About slide -->
              	
                <li data-orbit-slide="show_6">
                  <div class="row">
                  	<div class="small-12 columns">

                    <h1>About the Livestock Shows</h1>

                       <p><strong>Important notices</strong></p>

                       {{partial "livestock_actions"}}

                       

                       
                       {{{controllers.application.siteContent.livestockAboutAll}}}
                       

                       
                       <p>For further information, contact Sian Mercer via email (<a href="mailto:sianmercer@rabdf.co.uk">sianmercer@rabdf.co.uk</a>) or phone (<a href="tel:08454582711">0845 458 2711</a>).</p>
                    </div>
                  </div>
                  
                </li>

                <!-- END About slide -->

      </ul>

    </div>
  </div>
  <div class="back">
    
  </div>
</div>