<div class="flipper">
  <div class="front">
    <span class="tile-title">{{#link-to 'index' class="backbutton"}}<span class="icon-back"></span>{{/link-to}}Livestock Show Booking</span>
    <span class="tile-title underTab"></span>
    <div class="row">
      <div class="tabs row">
        <div class="tab currentTab small-2 columns">
          <a href="#" data-orbit-link="show_1">
            
            <div class="tabText">
              <span class="largeText">Dairy</span>
              <span class="smallText">Dairy</span>
            </div>
          </a>
        </div>
        <div class="tab small-2 columns">
          <a href="#" data-orbit-link="show_2">
            
            <div class="tabText">
              <span class="largeText">Charolais</span>
              <span class="smallText">Charolais</span>
            </div>
          </a>
        </div>

        <div class="tab small-2 columns">
          <a href="#" data-orbit-link="show_3">
            
            <div class="tabText">
              <span class="largeText">British Blue</span>
              <span class="smallText">British Blue</span>
            </div>
          </a>
        </div>

        <div class="tab small-2 columns">
          <a href="#" data-orbit-link="show_4">
            
            <div class="tabText">
              <span class="largeText">Aberdeen Angus</span>
              <span class="smallText">Aberdeen Angus</span>
            </div>
          </a>
        </div>

        <div class="tab small-2 columns">
          <a href="#" data-orbit-link="show_5">
            
            <div class="tabText">
              <span class="largeText">Lleyn Sheep</span>
              <span class="smallText">Lleyn Sheep</span>
            </div>
          </a>
        </div>

        <div class="tab small-2 columns">
          <a href="#" data-orbit-link="show_6">
            
            <div class="tabText">
              <span class="largeText">About</span>
              <span class="smallText">About</span>
            </div>
          </a>
        </div>
      </div>

      <ul data-orbit>

      	<!--BEGIN NDS slide -->

        <li data-orbit-slide="show_1">
          <div class="row">
          	<div class="small-12 columns">

            <h1>National Dairy Show</h1>

               <p><strong id="important_notices">Important notices</strong></p>

               {{partial "livestock_actions"}}

               <p>The RABDF are delighted to present the National Dairy Show 2014, where we will be showcasing the best of British dairy cows.  With attendance nearing 16,000 and visitors from 22 different countries focused purely on farm business the RABDF have allocated 300 stall spaces to promote ‘the best of British’.</p> 
<p>This is a fantastic opportunity for those who enjoy showing cattle to compete on a level playing, in a professional environment free from interference, allowing all exhibitors with good cows the real chance of taking home a trophy.  For those who use showing as an opportunity to promote their herd, there is no better time or place in the country to do this than at the largest event for dairy farmers, milking 78% of the UK’s cows.</p>
<p>Accessed by easy off loading and parking the air conditioned show hall with washing and clipping facilities is well placed to host a truly memorable atmospheric event in which to capture future marketing opportunities for your breed and your prefix.
</p>

     <h2>Application Forms</h2>

     <p>To enter the National Dairy Show, you need to enter cattle to the event. You also need to book stalls and accommodation. To do this, <strong>fill out the forms below</strong>, print them out, sign them, and mail them to:</p>

         <div class="row">
           <div class="small-10 small-centered columns">
             <div id="hcard-Sian-Mercer" class="vcard">
              <a class="url fn" href="http://www.livestockevent.co.uk">Sian Mercer</a>
              <div class="org">RABDF Events Ltd.</div>
              <div class="adr">
               <div class="street-address">Stoneleigh Deer Park Business Village</div>
               <span class="locality">Kenilworth</span>
             , 
               <span class="region">Warwickshire</span>
             , 
               <span class="postal-code">CV8 2LY</span>

               <span class="country-name">United Kingdom</span>

              </div>
           </div>
         </div>

				{{#link-to 'nds-entry' class="inlineLink"}}Enter the National Dairy Show{{/link-to}}<br />
				{{#link-to 'nds-accommodation' class="inlineLink"}}Book Stalls and Accommodation{{/link-to}}<br />
               
               <h2>Conditions and Rules of Entry</h2>
               <p><em>Non-observance of these rules renders the competitors liable to disqualification. Entries from accredited herds only.</em></p>

               {{partial "conditions_of_entry"}}


               
               <p>For further information on how to apply, contact Sian Mercer via email (<a href="mailto:sianmercer@rabdf.co.uk">sianmercer@rabdf.co.uk</a>) or phone (<a href="tel:08454582711">0845 458 2711</a>).</p>
            </div>
          </div>
          
        </li>

        <!-- END NDS slide -->

              	<!--BEGIN Charolais slide -->
              	
                <li data-orbit-slide="show_2">
                  <div class="row">
                  	<div class="small-12 columns">

                    <h1>National Charolais Show</h1>

                       <p><strong>Important notices</strong></p>

                       {{partial "livestock_actions"}}

                       <p>Following the success of the inaugural National Charolais Show at the Livestock Event in 2013, the British Charolais Cattle Society have reserved 100 stalls for the 2014 event.</p><p>
Judging by the favourable comments received by the 2013 exhibitors it is sincerely hoped that the stall reservation will be taken up and early booking is recommended. There will be bull and heifer classes for cattle born on or before the 31st October 2013 and on or after the 1st January 2012. With entries exclusive to Charolais Breedplan recorded herds. There will be an estimated £10,000 prize fund and appearance money available to the exhibitors along with a warm welcome by the BCCS staff and the Livestock Event stewards.
</p>

                       <h2>Application Forms</h2>

                       <p>To enter the National Charolais Show, you need to enter cattle to the event. You also need to book stalls and accommodation. To do this, <strong>fill out the forms below</strong>, print them out, sign them, and mail them to:</p>

                      <div class="row">
                        <div class="small-10 small-centered columns">
                          <div id="hcard-Sian-Mercer" class="vcard">
                           <a class="url fn" href="http://www.livestockevent.co.uk">Sian Mercer</a>
                           <div class="org">RABDF Events Ltd.</div>
                           <div class="adr">
                            <div class="street-address">Stoneleigh Deer Park Business Village</div>
                            <span class="locality">Kenilworth</span>
                          , 
                            <span class="region">Warwickshire</span>
                          , 
                            <span class="postal-code">CV8 2LY</span>

                            <span class="country-name">United Kingdom</span>

                           </div>
                        </div>
                      </div>
                       


        				{{#link-to 'ncs-entry' class="inlineLink"}}Enter the National Charolais Show{{/link-to}}<br />
        				{{#link-to 'ncs-accommodation' class="inlineLink"}}Book Stalls and Accommodation{{/link-to}}
                       
                       {{partial "ncs_conditions_of_entry"}}

                       
                       <p>For further information on how to apply, contact Sian Mercer via email (<a href="mailto:sianmercer@rabdf.co.uk">sianmercer@rabdf.co.uk</a>) or phone (<a href="tel:08454582711">0845 458 2711</a>).</p>
                    </div>
                  </div>
                 
                </li>

                <!-- END NCS slide -->

                      	<!--BEGIN NBBS slide -->
                      	
                        <li data-orbit-slide="show_3">
                          <div class="row">
                          	<div class="small-12 columns">

                            <h1>National British Blue Show</h1>

                               <p><strong>Important notices</strong></p>

                               {{partial "livestock_actions"}}

                               <p>About the NBBS</p>

                               <h2>Application Forms</h2>

                               <p>To enter the National British Blue Show, you need to enter cattle to the event. You also need to book stalls and accommodation. To do this, <strong>fill out the forms below</strong>, print them out, sign them, and mail them to:</p>

                                                     <div class="row">
                                                       <div class="small-10 small-centered columns">
                                                         <div id="hcard-Sian-Mercer" class="vcard">
                                                          <a class="url fn" href="http://www.livestockevent.co.uk">Sian Mercer</a>
                                                          <div class="org">RABDF Events Ltd.</div>
                                                          <div class="adr">
                                                           <div class="street-address">Stoneleigh Deer Park Business Village</div>
                                                           <span class="locality">Kenilworth</span>
                                                         , 
                                                           <span class="region">Warwickshire</span>
                                                         , 
                                                           <span class="postal-code">CV8 2LY</span>

                                                           <span class="country-name">United Kingdom</span>

                                                          </div>
                                                       </div>
                                                     </div>

                				{{#link-to 'nbbs-entry' class="inlineLink"}}Enter the National British Blue Show{{/link-to}}<br />
                				{{#link-to 'nbbs-accommodation' class="inlineLink"}}Book Stalls and Accommodation{{/link-to}}
                               
                               {{partial "nbbs_conditions_of_entry"}}

                               
                               <p>For further information on how to apply, contact Sian Mercer via email (<a href="mailto:sianmercer@rabdf.co.uk">sianmercer@rabdf.co.uk</a>) or phone (<a href="tel:08454582711">0845 458 2711</a>).</p>
                            </div>
                          </div>
                          
                        </li>

                        <!-- END NBBS slide -->

                              	<!--BEGIN NAAS slide -->
                              	
                                <li data-orbit-slide="show_4">
                                  <div class="row">
                                  	<div class="small-12 columns">

                                    <h1>National Aberdeen Angus Show</h1>

                                       <p><strong>Important notices</strong></p>

                                       {{partial "livestock_actions"}}

                                       <p>We are delighted to afford the opportunity to you our members to show case the very best of Aberdeen Angus progeny at this unique summer event held at NEC Birmingham. With attendance nearing 16,000 and visitors from 22 different countries focused purely on farm business we have allocated 50 stall spaces to promote our true brand product in response to ever increasing global interest and benefits in using Aberdeen Angus sires within the dairy and beef Industry to satisfy retail and consumer demand.</p>
                                       <p>
Accessed by easy off loading and parking the air conditioned show hall with washing and clipping facilities is well placed to host a truly memorable atmospheric event in which to capture future marketing opportunities for the breed and your prefix.
</p>

                                       <h2>Application Forms</h2>

                                       <p>To enter the National Aberdeen Angus Show, you need to enter cattle to the event. You also need to book stalls and accommodation. To do this, <strong>fill out the forms below</strong>, print them out, sign them, and mail them to:</p>

                                                             <div class="row">
                                                               <div class="small-10 small-centered columns">
                                                                 <div id="hcard-Sian-Mercer" class="vcard">
                                                                  <a class="url fn" href="http://www.livestockevent.co.uk">Sian Mercer</a>
                                                                  <div class="org">RABDF Events Ltd.</div>
                                                                  <div class="adr">
                                                                   <div class="street-address">Stoneleigh Deer Park Business Village</div>
                                                                   <span class="locality">Kenilworth</span>
                                                                 , 
                                                                   <span class="region">Warwickshire</span>
                                                                 , 
                                                                   <span class="postal-code">CV8 2LY</span>

                                                                   <span class="country-name">United Kingdom</span>

                                                                  </div>
                                                               </div>
                                                             </div>

                        				{{#link-to 'naas-entry' class="inlineLink"}}Enter the National Aberdeen Angus Show{{/link-to}}<br />
                        				{{#link-to 'naas-accommodation' class="inlineLink"}}Book Stalls and Accommodation{{/link-to}}
                                       
                                       {{partial "naas_conditions_of_entry"}}

                                       
                                       <p>For further information on how to apply, contact Sian Mercer via email (<a href="mailto:sianmercer@rabdf.co.uk">sianmercer@rabdf.co.uk</a>) or phone (<a href="tel:08454582711">0845 458 2711</a>).</p>
                                    </div>
                                  </div>
                                  
                                </li>

                                <!-- END NAAS slide -->

                                      	<!--BEGIN NLSC slide -->
                                      	
                                        <li data-orbit-slide="show_5">
                                          <div class="row">
                                          	<div class="small-12 columns">

                                            <h1>National Lleyn Sheep Competition</h1>

                                               <p><strong>Important notices</strong></p>


                                               {{partial "livestock_actions"}}

                                               <p>Come and see classes for pens of Lleyn Sheep judged as breeding ewes.  Alongside the pure bred Lleyn is the crossbred.  Breeders and clubs who take part in this National competition are helping to demonstrate what the Lleyn can do for a commercial sheep business.  If you are a sheep farmer who wants to invest in an modern, economic and practical breed, come along and see the Lleyn at the Livestock Event.</p>

                                               <h2>Applying</h2>

                                               <p>Once pen bookings have been made, Heather Stoney from the Lleyn Sheep Society will contact you in regard to the animals you are entering.  If you have any queries about the animals you are entering please contact Heather on <a href="tel:07966699930">07966 699930</a>, or email her at <a href="mailto:promotions@lleynsheep.com">promotions@lleynsheep.com</a>.</p>

                                				{{#link-to 'nlsc-accommodation' class="inlineLink"}}Book Stalls and Accommodation{{/link-to}}<br />
                                               
                                               {{partial "nlsc_conditions_of_entry"}}

                                               
                                               <p>For further information on how to apply, contact Sian Mercer via email (<a href="mailto:sianmercer@rabdf.co.uk">sianmercer@rabdf.co.uk</a>) or phone (<a href="tel:08454582711">0845 458 2711</a>).</p>
                                            </div>
                                          </div>
                                          
                                        </li>

                                        <!-- END NLSC slide -->

                                              	<!--BEGIN About slide -->
                                              	
                                                <li data-orbit-slide="show_6">
                                                  <div class="row">
                                                  	<div class="small-12 columns">

                                                    <h1>About the Livestock Shows</h1>

                                                       <p><strong>Important notices</strong></p>

                                                       {{partial "livestock_actions"}}

                                                       <p>About the Livestock Shows</p>

                                                       
                                                       
                                                       

                                                       
                                                       <p>For further information, contact Sian Mercer via email (<a href="mailto:sianmercer@rabdf.co.uk">sianmercer@rabdf.co.uk</a>) or phone (<a href="tel:08454582711">0845 458 2711</a>).</p>
                                                    </div>
                                                  </div>
                                                  
                                                </li>

                                                <!-- END About slide -->

      </ul>

    </div>
  </div>
  <div class="back">
    
  </div>
</div>