<div class="sidebar">
	{{view App.AboutHalfView}}
	{{view App.VisitorTicketsView}}
	{{view App.WhyVisitView}}
	{{view App.ExhibitorStandSpaceView}}
	{{view App.NewsView}}
	{{view App.GettingThereView}}
	{{view App.AfarView}}
	{{view App.ContractorsTileView}}
</div>