<div class="flipper">
	<div class="front">
		<span class="tile-title">

		{{#if view.tab1}}
			<a href="http://www.twitter.com/livestockevent" class="lh">
			<span class="icon-twitter"></span>
			</a>
		{{/if}}

		{{#if view.tab2}}
			<a href="https://www.facebook.com/LivestockEvent" class="lh">
			<span class="icon-linked-in"></span>
			</a>
		{{/if}}
		
		{{#if view.tab3}}
		<a href="https://www.linkedin.com/groups/LivestockEvent" class="lh">
		<span class="icon-facebook"></span>
		</a>
		{{/if}}
			
		social

		{{#if view.tab1}}
			<a href="http://www.twitter.com/livestockevent" class="rh">
			<span class="icon-add-icon"></span>
			</a>
		{{/if}}

		{{#if view.tab2}}
			
		{{/if}}
		
		{{#if view.tab3}}
			<a href="https://www.facebook.com/LivestockEvent" class="rh">
			<span class="icon-fontawesome-like"></span>
			</a>
		{{/if}}

		</span>
		<div class="carouTabs carouPanel3 carouBottom">
		   <div class="carouTab activeCarou">
		       <div data-tab="1" class="carouTabTitle">
		       		<span class="icon-twitter"></span>
		       		<label>twitter</label>
		        </div>
		        <div class="carouContent">
					{{#each sortedSocialTs}}
					<a {{bind-attr href=link}} target="_blank">
					<div class="row newsItem">
						<div class="small-3 columns newsDateCol">
							<div class="newsDateBlock">
								<div class="newsDay">{{day}}</div>
								<div class="newsDate">{{month}}</div>
							</div>
						</div>
						<div class="small-9 columns newsExcerpt postText">
							<span class="newsTitle">{{user}}</span>
							<span class="newsContent">{{{text}}}</span>
						</div>
					</div>
					</a>
					{{/each}}
		       </div> 
		    </div>
		    <div class="carouTab">
		        <div data-tab="2" class="carouTabTitle">
		       		<span class="icon-linked-in"></span>
		       		<label>linkedin</label>
		        </div>
		       
		        <div class="carouContent">
		            {{#each sortedSocialLs}}
		            <a {{bind-attr href=link}} target="_blank">
		            <div class="row newsItem">
		            	<div class="small-3 columns newsDateCol">
		            		<div class="newsDateBlock">
		            			<div class="newsDay">{{day}}</div>
		            			<div class="newsDate">{{month}}</div>
		            		</div>
		            	</div>
		            	<div class="small-9 columns newsExcerpt postText">
		            		<span class="newsTitle">{{user}}</span>
		            		<span class="newsContent">{{{text}}}</span>
		            	</div>
		            </div>
		            </a>
		            {{/each}}
       			</div> 
  			</div>
		    <div class="carouTab">
		        <div data-tab="3" class="carouTabTitle">
		       		<span class="icon-facebook"></span>
		       		<label>facebook</label>
		        </div>
		       
		        <div class="carouContent">
		            {{#each sortedSocialFs}}
		            <a {{bind-attr href=link}} target="_blank">
		            <div class="row newsItem">
		            	<div class="small-3 columns newsDateCol">
		            		<div class="newsDateBlock">
		            			<div class="newsDay">{{day}}</div>
		            			<div class="newsDate">{{month}}</div>
		            		</div>
		            	</div>
		            	<div class="small-9 columns newsExcerpt postText">
		            		<span class="newsTitle">{{user}}</span>
		            		<span class="newsContent">{{{text}}}</span>
		            	</div>
		            </div>
		            </a>
		            {{/each}}
       			</div> 
  			</div>
		</div>
	</div>
</div>