<div class="flipper buy_tickets">
	<div class="front">
		<span class="tile-title">{{#link-to 'index' class="backbutton"}}<span class="icon-back"></span>{{/link-to}}why visit?</span>
		<div class="row">
			<div class="large-10 small-11 small-centered large-centered columns">
				<p>The Livestock Event is an essential event for any farmer, herdsman or individual involved with the Industry. </p>
				<h2>What can I see?</h2>
				<p>Besides featuring Britain's highest-calibre Livestock and every major breeding company, the Livestock Event offers a wealth of business-specific opportunities. You'll have the opportunity to negotiate directly with trade suppliers, expand your business network, and pick up advice on forage, feed, and husbandry techniques from leaders in each field at our free seminars and workshops.</p>
				<p>We also run masterclasses around integrating information technology across agriculture, from office to field. Learn how you can use new products, technologies and management systems to grow your business and maximise your profits.</p>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				{{partial "quick_actions_visitors"}}
			</div>
		</div>
		<!-- disabled until tickets go-live
		<h2>Terms and Conditions</h2>
		<div class="tcs">
			<p>This product is meant for educational purposes only. Any resemblance to real persons, living or dead is purely coincidental. Void where prohibited. Some assembly required. List each check separately by bank number. Batteries not included.</p>
			<p>Contents may settle during shipment. Use only as directed. No other warranty expressed or implied. Do not use while operating a motor vehicle or heavy equipment. Postage will be paid by addressee. Subject to CARB approval.</p>
			<p>This is not an offer to sell securities. Apply only to affected area. May be too intense for some viewers. Do not stamp. Not rated by the Motion Picture Association of America. Call for nutritional information. Use other side for additional listings.</p>
			<p>Printed on recycled paper. For recreational use only. Do not disturb. All models over 18 years of age. Prize not redeemable for cash value. If condition persists, consult your physician. No user-serviceable parts inside. Freshest if eaten before date on carton.</p>
			<p>To be used as a supplementary restraint system only. Always fasten your safety belt. Subject to change without notice. Times approximate. Simulated picture. Do not staple or paper clip. Price slightly higher east of Alaska. No postage necessary if mailed in the United States.</p>
			<p>Do not X-ray. Breaking seal constitutes acceptance of agreement. For off-road use only. As seen on TV. One size fits all. Many suitcases look alike. Contains a substantial amount of non-tobacco ingredients. Colors may, in time, fade.</p>
			<p>We have sent the forms which seem right for you. Magnetic media, non-returnable if seal is broken. Formatted to fit your screen. Slippery when wet. For office use only. Not affiliated with the American Red Cross. Drop in any mailbox. Edited for television.</p>
			<p>Keep cool, process promptly. Post office will not deliver without postage. List was current at time of printing. Return to sender, no forwarding order on file, unable to forward. Prolong exposure to vapors has caused cancer in laboratory animals.</p>
			<p>Not responsible for direct, indirect, incidental or consequential damages resulting from any defect, error or failure to perform. Keep away from children. At participating locations only. Not the Beatles. Penalty for private use. See label for sequence.</p>
			<p>Substantial penalty for early withdrawal. Do not write below this line. Falling rock. Lost ticket pays maximum rate. Phenylketonurics: contains phenylalnine. Your canceled check is your receipt. Add toner. Place stamp here.</p>
			<p>Use only as directed; intentional misuse by deliberately concentrating and inhaling contents can be harmful or fatal. Avoid contact with skin. Road construction ahead.</p> <p>Open other end. Dealer participation may affect final price.</p>
			<p>May not be present in all tap water. Sanitized for your protection. Be sure each item is properly endorsed. Sign here without admitting guilt. Slightly higher west of the Mississippi. Park at your own risk. Employees and their families and friends are not eligible. Beware of dog.</p>
		</div>
		
		<div class="row inputs">
						<div class="small-6 columns">
							{{view App.NumberField valueBinding="tickets" min="1" id="numberTicketsFinal"}}
				
						</div>
						<div class="small-6 columns">
							{{#if ticketPrice}}
								<div class="ticketPrice">
									£{{ticketPrice}}
								</div>
							{{/if}}
						</div>
					</div>
					<div class="row">
						<div class="small-6 columns small-centered vertWrap">
							<div class="vertElement">
							{{#if ticketPrice}}
								{{#if oneTicket}}
								<a href="/tickets" class="button callToAction"><span class="icon-add-icon pink"></span></a>
								<span class="buttonLabel">book {{tickets}} ticket</span>
								{{else}}
								<a href="/tickets" class="button callToAction"><span class="icon-add-icon pink"></span></a>
								<span class="buttonLabel">book {{tickets}} tickets</span>
								{{/if}}
							{{/if}}
							</div>
						</div>
					</div>
					-->
					
	</div>
	<div class="back">
		
	</div>
</div>