<div class="flipper buy_tickets">
	<div class="front">
		<span class="tile-title">{{#link-to 'index' class="backbutton"}}<span class="icon-back"></span>{{/link-to}}why visit?</span>
		<div class="row">
			<div class="large-10 small-11 small-centered large-centered columns">

				{{{controllers.application.siteContent.whyvisitText}}}

			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				{{partial "quick_actions_visitors"}}
			</div>
		</div>
		<!-- disabled until tickets go-live
		
		
		<div class="row inputs">
						<div class="small-6 columns">
							{{view App.NumberField valueBinding="tickets" min="1" id="numberTicketsFinal"}}
				
						</div>
						<div class="small-6 columns">
							{{#if ticketPrice}}
								<div class="ticketPrice">
									£{{ticketPrice}}
								</div>
							{{/if}}
						</div>
					</div>
					<div class="row">
						<div class="small-6 columns small-centered vertWrap">
							<div class="vertElement">
							{{#if ticketPrice}}
								{{#if oneTicket}}
								<a href="/tickets" class="button callToAction"><span class="icon-add-icon pink"></span></a>
								<span class="buttonLabel">book {{tickets}} ticket</span>
								{{else}}
								<a href="/tickets" class="button callToAction"><span class="icon-add-icon pink"></span></a>
								<span class="buttonLabel">book {{tickets}} tickets</span>
								{{/if}}
							{{/if}}
							</div>
						</div>
					</div>
					-->
					
	</div>
	<div class="back">
		
	</div>
</div>