{{#with controller}}
<div class="flipper">
	<div class="front">
		<span class="tile-title">what's on?</span>
		<div class="carouTabs carouPanel6 carouBottom">
		   <div class="carouTab activeCarou">
		       <div class="carouTabTitle">
		       		<span class="icon-exhibitions-1"></span>
		       		<label>exhibition</label>
		        </div>

		        <div class="carouContent">
		            <div class="carouTabs">	

    				    <div class="carouTab activeCarou">
    				         <div class="carouTabTitle">animal health</div>
    				        <div class="carouContent">
    				        	{{{controllers.application.siteContent.whatsonAhText}}}
    				            
    				        	
    				        </div> 
    				    </div>
    				    
    				    <div class="carouTab">
    				        <div class="carouTabTitle">business management</div>
    				       
    				        <div class="carouContent">
    				        	{{{controllers.application.siteContent.whatsonBmText}}}
    				            
    				        </div> 
    			  	    </div>

    				    <div class="carouTab">
    				        <div class="carouTabTitle">diversification & renewables</div>
    				       
    				       <div class="carouContent">
    				       	{{{controllers.application.siteContent.whatsonDrText}}}
    				            
    				       </div> 
    				    </div>

    				    <div class="carouTab">
    				        <div class="carouTabTitle">feeds & forage</div>
    				       
    				       <div class="carouContent">
    				       {{{controllers.application.siteContent.whatsonFfText}}}
    				            
    				       </div> 
    				    </div>

    				    <div class="carouTab">
    				        <div class="carouTabTitle">genetics</div>
    				       
    				       <div class="carouContent">
    				       {{{controllers.application.siteContent.whatsonGeneticsText}}}
    				            
    				       </div> 
    				    </div>

    				    <div class="carouTab">
    				        <div class="carouTabTitle">housing & storage</div>
    				       
    				       <div class="carouContent">
    				       {{{controllers.application.siteContent.whatsonHsText}}}
    				            
    				       </div> 
    				    </div>

    				    <div class="carouTab">
    				        <div class="carouTabTitle">livestock equipment & machinery</div>
    				       
    				       <div class="carouContent">
    				       {{{controllers.application.siteContent.whatsonLemText}}}
    				            
    				       </div> 
    				    </div>

    				    <div class="carouTab">
    				         <div class="carouTabTitle">machinery hall</div>
    				        <div class="carouContent">
    				        {{{controllers.application.siteContent.whatsonMhText}}}
    				            
    				        </div> 
    				    </div>

    				    <div class="carouTab">
    				        <div class="carouTabTitle">milking</div>
    				       
    				       <div class="carouContent">
    				       {{{controllers.application.siteContent.whatsonMlText}}}
    				            
    				       </div> 
    				    </div>

    			  	    <div class="carouTab">
    				        <div class="carouTabTitle">milkmade</div>
    				       
    				        <div class="carouContent">
    				        {{{controllers.application.siteContent.whatsonMmText}}}
    				            
    				        </div> 
    				    </div>

    				    <div class="carouTab">
    				        <div class="carouTabTitle">slurry & irrigation</div>
    				       
    				       <div class="carouContent">
    				       {{{controllers.application.siteContent.whatsonSiText}}}
    				            
    				       </div> 
    				   </div>
    				</div>
		       </div> 
		    </div>
		    <div class="carouTab">
		        <div class="carouTabTitle">
		       		<span class="icon-eye"></span>
		       		<label>features</label>
		        </div>
		       
		        <div class="carouContent">
		            <div class="carouTabs vertical contentRight">
  			    
  			   			<div class="carouTab activeCarou">
  			       	        <div class="carouTabTitle">robotic feeding & milking</div>
  			       
  			       		 	<div class="carouContent">
  			       		 	{{{controllers.application.siteContent.whatsonFarmsecText}}}
  			            		
  			       			</div> 
  			   			</div>
  			    
		  			   <div class="carouTab">
		  			       <div class="carouTabTitle">forage field</div>
		  			       
		  			       <div class="carouContent">
		  			       {{{controllers.application.siteContent.whatsonForfieldText}}}
		  			            
		  			       </div> 
		  			   </div>

		  			   <div class="carouTab">
		  			       <div class="carouTabTitle">pig & poultry</div>
		  			       
		  			       <div class="carouContent">
		  			       {{{controllers.application.siteContent.whatsonPigpoultText}}}
		  			            
		  			       </div> 
		  			   </div> 

		  			    <div class="carouTab">
		  			       <div class="carouTabTitle">lameness prevention workshop</div>
		  			       
		  			       <div class="carouContent">
		  			       {{{controllers.application.siteContent.whatsonLameprevText}}}
		  			            
		  			       </div> 
		  			   </div>

		  			   <div class="carouTab">
					       <div class="carouTabTitle">foot trimming demonstrations</div>
					       
					       <div class="carouContent">
					       {{{controllers.application.siteContent.whatsonFoottrimText}}}
					            
					       </div> 
					    </div>

		  			   
  					</div>
       			</div> 
  			</div>

		    <div class="carouTab">
		        <div class="carouTabTitle">
		       		<span class="icon-knowledge"></span>
		       		<label>knowledge</label>
		        </div>
		       
		       <div class="carouContent">
		            <div class="carouTabs vertical contentRight">
		    
					    <div class="carouTab activeCarou">
					       <div class="carouTabTitle">export centre</div>
					       
					       <div class="carouContent">
					       {{{controllers.application.siteContent.whatsonExportText}}}
					            
					       </div> 
					    </div>
					    
					    <div class="carouTab">
					        <div class="carouTabTitle">careers in agriculture</div>
					        
					        <div class="carouContent">
					        {{{controllers.application.siteContent.whatsonCareersText}}}
					             
					        </div> 
					    </div>

					    <div class="carouTab">
					        <div class="carouTabTitle">dairy pro points</div>
					        
					        <div class="carouContent">
					        {{{controllers.application.siteContent.whatsonDairyproText}}}
					             
					        </div> 
					    </div>
				 	    

					   
					</div>
				</div> 
			</div>

		   <div class="carouTab">
		        <div class="carouTabTitle">
		       		<span class="icon-cow"></span>
		       		<label>livestock</label>
		        </div>
		       
		       <div class="carouContent">
		            <div class="carouTabs vertical contentRight">
    		    
		    		    <div class="carouTab activeCarou">
		    		       	<div class="carouTabTitle">National Dairy Show</div>
		    		       
		    		       <div class="carouContent">
		    		       {{{controllers.application.siteContent.whatsonNdsText}}}
		    		            
		    		       </div> 
		    	 	    </div>
		    		    
		    		    <div class="carouTab">
		    		        <div class="carouTabTitle">National Charolais Show</div>
		    		       
		    		       <div class="carouContent">
		    		       {{{controllers.application.siteContent.whatsonNcsText}}}
		    		            
		    		       </div> 
		    		    </div>

		    		    <div class="carouTab">
		    		        <div class="carouTabTitle">National British Blue Show</div>
		    		       
		    		       <div class="carouContent">
		    		       {{{controllers.application.siteContent.whatsonNbbsText}}}
		    		            
		    		       </div> 
		    		    </div>

		    		    <div class="carouTab">
		    		        <div class="carouTabTitle">National Lleyn Sheep Competition</div>
		    		       
		    		       <div class="carouContent">
		    		       {{{controllers.application.siteContent.whatsonNlscText}}}
		    		            
		    		       </div> 
		    		    </div>

		    		    <div class="carouTab">
		    		        <div class="carouTabTitle">Dairy, Beef and Sheep Breed Societies</div>
		    		       
		    		       <div class="carouContent">
		    		       {{{controllers.application.siteContent.whatsonSocietiesText}}}
		    		            
		    		       </div> 
		    		    </div>  

		    		    <div class="carouTab">
		    		        <div class="carouTabTitle">National Aberdeen Angus Show</div>
		    		       
		    		       <div class="carouContent">
		    		       {{{controllers.application.siteContent.whatsonNaasText}}}
		    		            
		    		       </div> 
		    		    </div>    
		    		</div>
		       </div> 
		   </div>

		   <div class="carouTab">
		        <div class="carouTabTitle">
		       		<span class="icon-seminars-1"></span>
		       		<label>seminars</label>
		        </div>
		       
		       <div class="carouContent">
		            <div class="carouTabs vertical contentRight">
   		    
			   		   <div class="carouTab activeCarou">
			   		       <div class="carouTabTitle">business debates</div>
			   		       
			   		       <div class="carouContent">
			   		       {{{controllers.application.siteContent.whatsonBusdebatesText}}}
			   		            
			   		       </div> 
			   		   </div>

			   		   <div class="carouTab">
			   		       <div class="carouTabTitle">farm health planning</div>
			   		       
			   		       <div class="carouContent">
			   		       {{{controllers.application.siteContent.whatsonFarmhealthText}}}
			   		            
			   		       </div> 
			   		   </div>

			   		   <div class="carouTab">
			   		       <div class="carouTabTitle">feed science forum</div>
			   		       
			   		       <div class="carouContent">
			   		       {{{controllers.application.siteContent.whatsonFeedsciText}}}
			   		            
			   		       </div> 
			   		   </div>

			   		   <div class="row buttons-in-carou">
			   		   	
			   		   

			   		   <div class="small-6 large-3 columns vertWrap">
			   		   	<div class="vertElement">
			   		   		{{#link-to 'visiting' class="button callToAction" target="_blank"}}<span class="icon-seminars-1"></span>{{/link-to}}
			   		   		<span class="buttonLabel">Seminar List</span>
			   		   	</div>
			   		   </div>

			   		   <div class="small-6 large-3 columns vertWrap">
			   		   	<div class="vertElement">
			   		   		{{#link-to 'visiting' class="button callToAction" target="_blank"}}<span class="icon-calendar"></span>{{/link-to}}
			   		   		<span class="buttonLabel">Timetable</span>
			   		   	</div>
			   		   </div>

			   		   <div class="large-6 hide-for-small columns">

			   		   </div>
			   		   </div>
			   		    
			   		</div>
		       </div> 
		   </div>

		   <div class="carouTab">
		        <div class="carouTabTitle">
		       		<span class="icon-test-drive"></span>
		       		<label>test drives</label>
		        </div>
		       
		       <div class="carouContent">
		            <div class="row">
		            	<div class="small-12 large-6 columns">
        		   			<h3>4 x 4 Pick Up Test Drives</h3>
        		   			{{{controllers.application.siteContent.whatsonFourfourText}}}
        		   			
        		   		</div>
        		   		<div class="small-12 large-6 columns">
        		   			<h3>UTV Test Drives</h3>
        		   			{{{controllers.application.siteContent.whatsonUtvText}}}
        		   			
        		   		</div>
        		   	</div>
		       </div> 
		   </div>
		</div>
	</div>
</div>
{{/with}}