<div class="flipper">
	<div class="front">
		{{#if isSameName}}
		<span class="tile-title">{{#link-to 'contractors.index' class="backbutton"}}<span class="icon-back"></span>{{/link-to}}Contractor: {{name}}</span>
		{{else}}
		<span class="tile-title">{{#link-to 'contractors.index' class="backbutton"}}<span class="icon-back"></span>{{/link-to}}Contractor: {{name}}, {{companyName}}</span>
		{{/if}}
		<div class="fullBleedHolder">
			{{#if image}}
			<img {{bind-attr src=content.image}} class="fullBleed" />
			{{/if}}
		</div>

		<div class="row firstRow">
			<div class="small-12 columns">
				<p>{{name}} is a contractor that offers <strong>{{category}}</strong> services.</p>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<h1>About {{name}}</h1>
				<p>{{explanation}}</p>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<h1>Contractor Web Details</h1>
				<p><a class="inlineLink" {{bind-attr href="address"}}>{{address}}</a></p>
			</div>
		</div>
		
		
	</div>
	<div class="back">
		
	</div>
</div>