<!--form for new exhibitor-->
<div class="block">
	<div class="block-title">
		<h2>Simple</h2>
	</div>
	<%= simple_form_for [:admin, @exhibitor], :html => { class: 'form-horizontal form-bordered' }, defaults: { input_html: { class: 'form-control' }, label_html: { class: 'control-label '} } do |f| %>
	<div class="form-group">
		<div class="col-md-6"><%= f.input :name %></div>
		<div class="col-md-6"><%= f.input :email %></div>
	</div>
	<div class="form-group">
		<div class="col-md-6"><%= f.input :telephone %></div>
		<div class="col-md-6"><%= f.input :website %></div>
	</div>
	<div class="form-group">
		<div class="col-md-4"><%= f.input :area %></div>
		<div class="col-md-4"><%= f.input :zone %></div>
		<div class="col-md-4">
			<label class="list optional control-label" for="list">Appears in public Exhibitor list?</label>
			<div class="input-group">
				<%= f.input_field :list %>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-12"><%= f.input :description, as: :text, input_html: {rows: "15", class: "form-control textarea-editor"} %></div>
	</div>
</div>
<div class="block">
	<%= f.button :submit %>
	<% end %>
</div>

<!--END form for new exhibitor-->