<div class="flipper">
  <div class="front">
    <span class="tile-title">{{#link-to 'index' class="backbutton"}}<span class="icon-back"></span>{{/link-to}}Livestock Show Results</span>
    <span class="tile-title underTab"></span>
    <div class="row">
      <div class="tabs row">
        <div class="tab currentTab small-2 columns">
          <a href="#" data-orbit-link="show_1">
            
            <div class="tabText">
              <span class="largeText">Dairy</span>
              <span class="smallText">Dairy</span>
            </div>
          </a>
        </div>
        <div class="tab small-2 columns">
          <a href="#" data-orbit-link="show_2">
            
            <div class="tabText">
              <span class="largeText">Charolais</span>
              <span class="smallText">Charolais</span>
            </div>
          </a>
        </div>

        <div class="tab small-2 columns">
          <a href="#" data-orbit-link="show_3">
            
            <div class="tabText">
              <span class="largeText">British Blue</span>
              <span class="smallText">British Blue</span>
            </div>
          </a>
        </div>

        <div class="tab small-2 columns">
          <a href="#" data-orbit-link="show_4">
            
            <div class="tabText">
              <span class="largeText">Aberdeen Angus</span>
              <span class="smallText">Aberdeen Angus</span>
            </div>
          </a>
        </div>

        <div class="tab small-2 columns">
          <a href="#" data-orbit-link="show_5">
            
            <div class="tabText">
              <span class="largeText">Lleyn Sheep</span>
              <span class="smallText">Lleyn Sheep</span>
            </div>
          </a>
        </div>

        <div class="tab small-2 columns">
          <a href="#" data-orbit-link="show_6">
            
            <div class="tabText">
              <span class="largeText">About</span>
              <span class="smallText">About</span>
            </div>
          </a>
        </div>
      </div>

      <ul data-orbit>

      	<!--BEGIN NDS slide -->

        <li data-orbit-slide="show_1">
          <div class="row">
          	<div class="small-12 columns">

            <h1>National Dairy Show</h1>

               <div class="row staticContent">
                        <div class="carouTabs carouBlock">
                    
                        <div class="carouTab">
                            <div class="carouTabTitle">build up</div>
                           
                           <div class="carouContent">
                              <ul>
                                 <li>Sun 29th June 8am - 10pm</li>
                                  <li>Mon 30th June 8am - 10pm</li>
                                  <li>Tues 1st July 8am - 10pm</li>
                              </ul>
                                 
                           </div> 
                        </div>
                        
                        <div class="carouTab activeCarou">
                            <div class="carouTabTitle">break down</div>
                           
                           <div class="carouContent">
                              <ul>
                                 <li>Thurs 3rd July 6:30pm - 9pm</li>
                                  <li>Fri 4th July 8am - 9pm</li>
                                  <li>Sat 5th July 8am - Midday</li>
                              </ul>
                                
                           </div> 
                        </div>
                    </div>
                  </div>

            </div>
          </div>
          
        </li>

        <!-- END NDS slide -->

              	<!--BEGIN Charolais slide -->
              	
                <li data-orbit-slide="show_2">
                  <div class="row">
                  	<div class="small-12 columns">

                    <h1>National Charolais Show</h1>

                       <p><strong>Important notices</strong></p>

                       {{partial "livestock_actions"}}

                       <a class="inlineLink" href="#">Download crucial information (PDF)</a>

               <h2>TB & MV Information</h2>

               <p>Static TB Info here</p>
              <p>Static MV Info here</p>

        				<a class="inlineLink" href="#">Enter the National Charolais Show</a>
        				<a class="inlineLink" href="#">Book Stalls and Accommodation</a>
                       
                       

                       
                       <p>For further information on how to apply, contact Sian Mercer via email (<a href="mailto:sianmercer@rabdf.co.uk">sianmercer@rabdf.co.uk</a>) or phone (<a href="tel:08454582711">0845 458 2711</a>).</p>
                    </div>
                  </div>
                 
                </li>

                <!-- END NCS slide -->

                      	<!--BEGIN NBBS slide -->
                      	
                        <li data-orbit-slide="show_3">
                          <div class="row">
                          	<div class="small-12 columns">

                            <h1>National British Blue Show</h1>

                               <p><strong>Important notices</strong></p>

                               {{partial "livestock_actions"}}

                               <a class="inlineLink" href="#">Download crucial information (PDF)</a>

               <h2>TB & MV Information</h2>

               <p>Static TB Info here</p>
              <p>Static MV Info here</p>

                				<a class="inlineLink" href="#">Enter the National Dairy Show</a>
                				<a class="inlineLink" href="#">Book Stalls and Accommodation</a>
                               
                               

                               
                               <p>For further information on how to apply, contact Sian Mercer via email (<a href="mailto:sianmercer@rabdf.co.uk">sianmercer@rabdf.co.uk</a>) or phone (<a href="tel:08454582711">0845 458 2711</a>).</p>
                            </div>
                          </div>
                          
                        </li>

                        <!-- END NBBS slide -->

                              	<!--BEGIN NAAS slide -->
                              	
                                <li data-orbit-slide="show_4">
                                  <div class="row">
                                  	<div class="small-12 columns">

                                    <h1>National Aberdeen Angus Show</h1>

                                       <p><strong>Important notices</strong></p>

                                       {{partial "livestock_actions"}}

                                     <a class="inlineLink" href="#">Download crucial information (PDF)</a>

               <h2>TB & MV Information</h2>

               <p>Static TB Info here</p>
              <p>Static MV Info here</p>

                        				<a class="inlineLink" href="#">Enter the National Dairy Show</a>
                        				<a class="inlineLink" href="#">Book Stalls and Accommodation</a>
                                       
                                       

                                       
                                       <p>For further information on how to apply, contact Sian Mercer via email (<a href="mailto:sianmercer@rabdf.co.uk">sianmercer@rabdf.co.uk</a>) or phone (<a href="tel:08454582711">0845 458 2711</a>).</p>
                                    </div>
                                  </div>
                                  
                                </li>

                                <!-- END NAAS slide -->

                                      	<!--BEGIN NLSC slide -->
                                      	
                                        <li data-orbit-slide="show_5">
                                          <div class="row">
                                          	<div class="small-12 columns">

                                            <h1>National Lleyn Sheep Competition</h1>

                                               <p><strong>Important notices</strong></p>


                                               {{partial "livestock_actions"}}

                                              <a class="inlineLink" href="#">Download crucial information (PDF)</a>

               <h2>TB & MV Information</h2>

               <p>Static TB Info here</p>
              <p>Static MV Info here</p>

                                				<a class="inlineLink" href="#">Enter the National Dairy Show</a>
                                				<a class="inlineLink" href="#">Book Stalls and Accommodation</a>
                                               
                                               

                                               
                                               <p>For further information on how to apply, contact Sian Mercer via email (<a href="mailto:sianmercer@rabdf.co.uk">sianmercer@rabdf.co.uk</a>) or phone (<a href="tel:08454582711">0845 458 2711</a>).</p>
                                            </div>
                                          </div>
                                          
                                        </li>

                                        <!-- END NLSC slide -->

                                              	<!--BEGIN About slide -->
                                              	
                                                <li data-orbit-slide="show_6">
                                                  <div class="row">
                                                  	<div class="small-12 columns">

                                                    <h1>About the Livestock Shows</h1>

                                                       <p><strong>Important notices</strong></p>

                                                       {{partial "livestock_actions"}}

                                                       <p>About the Livestock Shows</p>

                                                       
                                                       
                                                       

                                                       
                                                       <p>For further information, contact Sian Mercer via email (<a href="mailto:sianmercer@rabdf.co.uk">sianmercer@rabdf.co.uk</a>) or phone (<a href="tel:08454582711">0845 458 2711</a>).</p>
                                                    </div>
                                                  </div>
                                                  
                                                </li>

                                                <!-- END About slide -->

      </ul>

    </div>
  </div>
  <div class="back">
    
  </div>
</div>