<div class="flipper bookingsShow">
  <div class="front">
    <span class="tile-title">{{#link-to 'bookings' class="backbutton"}}<span class="icon-back"></span>{{/link-to}}Application for {{companyName}}</span>
    <div class="row firstRow">
      <a class="inlineLink noUnderline" href="javascript:window.print()"><span class="icon-printer"></span>Print application</a>
    </div>
    <div class="row forms">
      <div class="large-8 columns large-centered small-12 small-uncentered">
        <p>All exhibitors are strongly advised to read the <a href="https://dl.dropboxusercontent.com/u/57653232/Hosted%20files%20for%20RABDF%20DO%20NOT%20DELETE/forms/Exhibitor%20Manual%202014.docx" class="inlineLink" target="_blank">exhibitor manual</a>.  Applying for the Show Guide and completing Health & Safety and Risk Assessment forms is compulsory for all Exhibitors.  Please ensure that they are completed and returned with the deadlines indicated.</p>
      </div>
      <div class="large-6 small-12 columns essential">
        <h1>Essential Forms</h1>
        <p>Below are forms that <strong>must be completed before your booking can be confirmed</strong>. You can complete them online.</p>
        <table class="simpleTable">
          <thead>
            <tr>
              <td>&nbsp;</td>
              <td>Completed?</td>
              <td>Verified?</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{#link-to 'raforms.edit' raform class="inlineLink"}}Risk Assessment Form{{/link-to}}</td>
              <td class="textCenter">{{#if raform.complete}}<span class="icon-tick-alt"></span>{{else}}<span class="icon-close-alt-2"></span>{{/if}}</td>
              <td class="textCenter">{{#if raform.verified}}<span class="icon-tick-alt"></span>{{else}}<span class="icon-close-alt-2"></span>{{/if}}</td>
            </tr>
            <tr>
              <td>{{#link-to 'showforms.edit' showform class="inlineLink"}}Show Guide Entry{{/link-to}}</td>
              <td class="textCenter">{{#if showform.complete}}<span class="icon-tick-alt"></span>{{else}}<span class="icon-close-alt-2"></span>{{/if}}</td>
              <td class="textCenter">{{#if showform.verified}}<span class="icon-tick-alt"></span>{{else}}<span class="icon-close-alt-2"></span>{{/if}}</td>
            </tr>
            <tr>
              <td>{{#link-to 'hsforms.edit' hsform class="inlineLink"}}Health and Safety Form{{/link-to}}</td>
              <td class="textCenter">{{#if hsform.complete}}<span class="icon-tick-alt"></span>{{else}}<span class="icon-close-alt-2"></span>{{/if}}</td>
              <td class="textCenter">{{#if hsform.verified}}<span class="icon-tick-alt"></span>{{else}}<span class="icon-close-alt-2"></span>{{/if}}</td>
            </tr>
          </tbody>
        </table>
        {{#if allDone}}
        <div class="thanks mt14">
          <p><em>Thank you for completing all the essential forms.
          We'll verify the information and get back to you here.</em>
          </p>
        </div>
        {{/if}}
      </div>
      <div class="large-6 small-12 columns nonessential">
        <h1>Non-essential Forms</h1>
        <p>Below are forms that <strong>should be completed by the majority of exhibitors</strong>. You can download, print, and return them by mail.</p>
        <table class="simpleTable borderRight">
          <thead>
            <tr>

              <td class="invisible"></td>
            </tr>
          </thead>
          <tbody>
            <tr>

              <td><a href="{{siteContent.bookingShowFormsPpUrl}}" target="_blank" class="inlineLink">Enter Prince Philip Award</a></td>
              
            </tr>
            <tr>

              <td><a href="{{siteContent.bookingShowFormsLmUrl}}" target="_blank" class="inlineLink">Enter RABDF Livestock & Machinery Award</a></td>
              
            </tr>

            {{#if isClear}}
            <tr>

              <td><a href="{{siteContent.bookingShowFormsEgInternalUrl}}" target="_blank" class="inlineLink">Electrical & Grid Plan Form – Internal</a></td>
              
            </tr>
            <tr>

              <td><a href="{{siteContent.bookingShowFormsEgExternalUrl}}" target="_blank" class="inlineLink">Electrical & Grid Plan Form – External</a></td>
              
            </tr>
            {{/if}}
            <tr>

              <td><a href="{{siteContent.bookingShowFormsNecUrl}}" target="_blank" class="inlineLink">NEC Stand Services 2014</a></td>
            </tr>
            <tr>

              <td><a href="{{siteContent.bookingShowFormsAlcoholUrl}}" target="_blank" class="inlineLink">Application to supply Alcohol</a></td>
            </tr>
            <tr>

              <td><a href="{{siteContent.bookingShowFormsFoodUrl}}" target="_blank" class="inlineLink">Application to supply Food and Beverages</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">

      <h1>My booking</h1>

        <div class="row">
          <div class="large-4 small-12 columns printHalf">
            <p>
              <b>Company name:</b> {{ companyName }}
            </p>
          </div>
          <div class="large-4 small-12 columns printHalf">
            <p>
              <b>Contact name:</b> {{ contactName }}
            </p>
          </div>
          <div class="large-4 small-12 columns">
            <p>
              <b>Exhibiting name:</b> {{ exhibitingName }}
            </p>
          </div>
        </div>


        <div class="row">
          <div class="large-6 small-12 columns printHalf">
            <p>
              <b>Contact Telephone Number:</b> {{ telephone }}
            </p>
          </div>
          <div class="large-6 small-12 columns printHalf lowercase">
            <p>
              <b>Contact email:</b> {{ email }}
            </p>
          </div>
        </div>

        <div class="row">
          <div class="large-6 small-12 columns printHalf">
            <p>
              <b>RABDF Corporate Membership?</b> {{#if corporateMembership }}<span class="icon-tick-alt"></span>{{else}}<span class="icon-close-alt-2"></span>{{/if}}
            </p>
          </div>
          <div class="large-6 small-12 columns printHalf">
            <p>
              <b>T&Cs agreed?</b> {{#if tcAgreed }}<span class="icon-tick-alt"></span>{{else}}<span class="icon-close-alt-2"></span>{{/if}}
            </p>
          </div>
        </div>

        <div class="row">
          <div class="large-10 large-centered small-12 columns">
            <p>
              <b>Correspondence Address:</b> {{ correspondenceAddress }}
            </p>
          </div>
        </div>

        <div class="row">
          <div class="large-10 large-centered small-12 columns">
            <p>
              <b>Invoice Address:</b> {{ invoiceAddress }}
            </p>
          </div>
        </div>

        <div class="row">
          <div class="large-4 small-12 columns printHalf">
            <p>
              <b>Finance Contact Email:</b> {{ financeContact }}
            </p>
          </div>
          <div class="large-4 small-12 columns printHalf">
            <p>
              <b>PO Number:</b> {{ poNumber }}
            </p>
          </div>
          <div class="large-4 small-12 columns">
            <p>
              <b>Finance Telephone No.:</b> {{ financeTelephone }}
            </p>
          </div>
        </div>

        <div class="page-break"></div>

        <div class="row">
          <div class="large-6 small-12 columns printHalf">
            <p>
              <b>Show Area:</b> {{ showArea }}
            </p>
          </div>
          <div class="large-6 small-12 columns printHalf">
            <p>
              <b>Zone:</b> {{ zone }}
            </p>
          </div>
        </div>

        <div class="row">
          <div class="large-6 small-12 columns printHalf">
            <p>
              <b>Stand Format:</b> {{ standType }}
            </p>
          </div>
          <div class="large-6 small-12 columns printHalf">
            <p>
              <b>Stand Type:</b> {{ position }}
            </p>
          </div>
        </div>

        {{#if isLivestockHall}}
        <div class="row">
          <div class="small-12 columns">
            <p>
                <b>Breed society:</b> 
                {{ breedSociety }}
            </p>
          </div>
        </div>
        {{/if}}

        <div class="row">
          <div class="large-10 large-centered small-12 small-uncentered columns">
            <p>
              <b>Block Number:</b> {{standNumber}}
            </p>
          </div>
        </div>

        <div class="row">
          <div class="large-6 small-12 columns printHalf leftAlign">
            <p>
              <b>Frontage:</b> {{ frontage }}m
            </p>
          </div>
          <div class="large-6 small-12 columns printHalf leftAlign">
            <p>
              <b>Depth:</b> {{ depth }}m
            </p>
          </div>
        </div>

        <div class="row">
          <div class="large-6 small-12 columns">
            <p>
              <b>Contractor Company:</b> {{ contractorCompanyName }}
            </p>
          </div>
          <div class="large-6 small-12 columns">
            <p>
              <b>Contractor Contact:</b> {{ contractorContactName }}
            </p>
          </div>
        </div>

        <div class="row">
          <div class="large-10 large-centered small-12 columns">
            <p>
              <b>Contractor Address:</b> {{contractorAddress}}
            </p>
          </div>
        </div>

        <div class="row">
          <div class="large-6 small-12 columns printHalf lowercase">
            <p>
              <b>Contractor Email:</b> {{ contractorEmail }}
            </p>
          </div>
          <div class="large-6 small-12 columns printHalf">
            <p>
              <b>Contractor Telephone:</b> {{ contractorTelephone }}
            </p>
          </div>
        </div>

        <div class="page-break"></div>

        <div class="row">
          <div class="large-4 small-12 columns printThird">
            <p>
              <b>Do you require leaflets?</b> {{#if requiresLeaflets }}<span class="icon-tick-alt"></span>{{else}}<span class="icon-close-alt-2"></span>{{/if}}
            </p>
          </div>
          <div class="large-4 small-12 columns printThird">
            <p>
              <b>How many?</b> {{ numberLeaflets }}
            </p>
          </div>
          <div class="large-4 small-12 columns printThird">
            <p>
              <b>Do you need a PDF version?</b> {{#if pdfLeaflets }}<span class="icon-tick-alt"></span>{{else}}<span class="icon-close-alt-2"></span>{{/if}}
            </p>
          </div>
        </div>

        <div class="row">
          <div class="large-4 small-12 columns printThird">
            <p>
              <b>Exhibiting Machinery in Motion?</b> {{#if machineryMotion }}<span class="icon-tick-alt"></span>{{else}}<span class="icon-close-alt-2"></span>{{/if}}
            </p>
          </div>
          <div class="large-4 small-12 columns printThird">
            <p>
              <b>Bringing a mobile unit?</b> {{#if mobileUnit }}<span class="icon-tick-alt"></span>{{else}}<span class="icon-close-alt-2"></span>{{/if}}
            </p>
          </div>
          <div class="large-4 small-12 columns printThird">
            <p>
              <b>Exhibiting Livestock?</b> {{#if livestockStand }}<span class="icon-tick-alt"></span>{{else}}<span class="icon-close-alt-2"></span>{{/if}}
            </p>
          </div>
        </div>


        <div class="row">
          <div class="large-4 small-12 columns printThird">
            <p>
              <b>Launching New Products?</b> {{#if newProducts }}<span class="icon-tick-alt"></span>{{else}}<span class="icon-close-alt-2"></span>{{/if}}
            </p>
          </div>
          <div class="large-4 small-12 columns printThird">
            <p>
              <b>Entering the Price Philip Award?</b> {{#if philipAward }}<span class="icon-tick-alt"></span>{{else}}<span class="icon-close-alt-2"></span>{{/if}}
            </p>
          </div>
          <div class="large-4 small-12 columns printThird">
            <p>
              <b>Entering the 2014 Livestock Machinery & Equipment Award?</b> {{#if livestockAward }}<span class="icon-tick-alt"></span>{{else}}<span class="icon-close-alt-2"></span>{{/if}}
            </p>
          </div>
        </div>

        <div class="row">
          <div class="large-6 small-12 columns printHalf">
            <p>
              <b>Do you Export from the UK?</b> {{#if exports }}<span class="icon-tick-alt"></span>{{else}}<span class="icon-close-alt-2"></span>{{/if}}
            </p>
          </div>
          <div class="large-6 small-12 columns printHalf">
            <p>
              <b>Do you offer work placements?</b> {{#if placements }}<span class="icon-tick-alt"></span>{{else}}<span class="icon-close-alt-2"></span>{{/if}}
            </p>
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
            <p>
              <b>Requirements:</b> {{requirements}}
            </p>
          </div>
        </div>

        <div class="row">
          <div class="large-3 small-12 columns">
            <p>
              <b>Base Price:</b> £{{ price }}
            </p>
          </div>
          <div class="large-3 small-12 columns">
            <p>
              <b>Surcharge for Stand Type: {{position}}</b> {{#if surcharge}}
              £{{surcharge}}
              {{else}}
                <p class="ellipsis">...</p>
              {{/if}}
            </p>
          </div>
          <div class="large-3 small-12 columns">
            <p>
              <b>Subtotal (excl. VAT):</b> £{{ total }}
            </p>
          </div>
          <div class="large-3 small-12 columns">
            <p>
              <b>Total:</b> £{{ totalIncVat }}
            </p>
          </div>
        </div>

        <div class="row">
          <div class="large-6 small-12 columns printHalf">
            <p>
              <b>30% Deposit, excl. VAT</b> £{{ depositExVat }}
            </p>
          </div>
          <div class="large-6 small-12 columns printHalf">
            <p>
              <b>30% Deposit, inc. VAT</b> £{{ deposit }}
            </p>
          </div>
        </div>
        {{#unless depositPaid}}
        <div style="border-bottom: none;" class="row finalRow">
          <div class="small-12 columns centerAlign">
            
              <div class="vertElement">
                {{#link-to 'bookings.edit' model class="button rightButton exhibitor callToAction"}}<span class="icon-settings"></span>{{/link-to}}
                <span class="buttonLabel">edit booking</span>
              </div>
              
          </div>
        </div>
        {{/unless}}
        

        <div class="row finalRow">
          <div class="small-12 columns centerAlign">
            {{#unless depositPaid}}
              <span class="afterthought warning">Your booking is not confirmed until you have made your deposit of £{{theDeposit}}.</span>
              <div class="vertElement">
                {{#link-to 'orders.new' class="button rightButton exhibitor callToAction" type="submit"}}<span class="icon-tick"></span>{{/link-to}}
                <span class="buttonLabel">make deposit</span>
              </div>
              
            {{/unless}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="back">
  
  </div>
</div>
