<div class="flipper">
  <div class="front">
  <span class="tile-title">{{#link-to 'index' class="backbutton"}}<span class="icon-back"></span>{{/link-to}}hi, {{name}}</span>
  <div class="row userDetailsRow">
    <div class="small-12 columns">

    <p>
      <b>Email Address:</b> {{ email }}
    </p>

    <p><b>How do I get to my booking forms?</b> To access your booking forms for <i>Health and Safety</i>, <i>Risk Assessment</i>, <i>Show Guide Entry</i> and others, click 'Go to Booking Forms' on the corresponding booking below.</p>


    

  	</div>
  </div>
  <div class="row userBookingsRow">
  	<div class="small-12 columns">
      <h1>{{name}}'s bookings</h1>
      <table class="usersTable" id="personalTable">
        <thead>
          <th>Go to Booking Forms</th>
          <th>Booking ID</th>
          <th>Company Name</th>
          <th>Show Area</th>
          <th>Stand Type</th>
          <th>Frontage</th>
          <th>Depth</th>
          <th><span class="icon-pound-icon"></span></th>
          <th>Deposit Paid?</th>
          <th>Total Paid?</th>
        </thead>
        <tbody>
    		{{#each bookings}}
          <tr class="single-booking">
            <td>{{#link-to "bookings.show" this }}<span class="icon-forward"></span>{{/link-to}}</td>
            <td>{{#link-to "bookings.show" this }}{{id}}{{/link-to}}</td>
            <td>{{#link-to "bookings.show" this }}{{ companyName }}{{/link-to}}<br /><small>{{ companyReg }}</small></td>
            <td>{{ showArea }}</td>
            
            <td>{{ standType }}</td>
            <td>{{ frontage }}m</td>
            <td>{{ depth }}m</td>
            <td>£{{ total }}</td>
            <td>{{#if depositPaid }}<span class="icon-tick-alt"></span>{{else}}<span class="icon-close-alt-2"></span>{{/if}}</td>
            <td>{{#if totalPaid }}<span class="icon-tick-alt"></span>{{else}}<span class="icon-close-alt-2"></span>{{/if}}</td>
          </tr>
        {{else}}
          <span class="afterthought">You have not made any bookings yet.</span>
        {{/each}}
        </tbody>
      </table>
  	</div>
  </div>

  <div class="row userOrdersRow">
    <div class="small-12 columns">
      <h1>{{name}}'s past purchases</h1>
      <table class="usersTable" id="personalTable">
        <thead>
          <th>Go to Order</th>
          <th>Order ID</th>
          <th>Amount</th>
          <th>Order Date</th>
          <th>Booking ID</th>
          <th>Order Status</th>
        </thead>
        <tbody>
        {{#each orders}}
          <tr class="single-order">
            <td>{{#link-to "orders.show" this }}<span class="icon-forward"></span>{{/link-to}}</td>
            <td>{{#link-to "orders.show" this }}{{ id }}{{/link-to}}<br /><small>{{ companyReg }}</small></td>
            <td>£{{ amount }}</td>
            <td>{{ date }}</td>
            <td>{{ booking.id }}</td>
            <td>{{ status }}</td>
          </tr>
        {{else}}
          <span class="afterthought">You have not placed any orders yet.</span>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="row actionsRow">
    <div class="large-4 small-12 columns vertWrap">
     <div class="vertElement"> {{#link-to "users.edit" model class="button callToAction"}}<span class="icon-gears"></span>{{/link-to}}<span class="buttonLabel">change something</span></div>
    </div>
    <div class="large-4 small-12 columns vertWrap">
      <div class="vertElement">
        {{#link-to "bookings.problems" class="button callToAction"}}<span class="icon-exhibitions-alt"></span>{{/link-to}}<span class="buttonLabel">problems?</span>
      </div>
    </div>
    <div class="large-4 small-12 columns vertWrap">
      <div class="vertElement">{{#link-to "bookings.new" class="button callToAction"}}<span class="icon-add-icon"></span>{{/link-to}}<span class="buttonLabel">new booking</span></div>
    </div>
  </div>
</div>
<div class="back">
  
</div>
</div>

