<!DOCTYPE html>
<html>
<head>
<!-- Begin Inspectlet Embed Code -->
<script type="text/javascript" id="inspectletjs">
  window.__insp = window.__insp || [];
  __insp.push(['wid', 419899427]);
  (function() {
    function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://www.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); }
    if (window.attachEvent){
      window.attachEvent('onload', __ldinsp);
    }else{
      window.addEventListener('load', __ldinsp, false);
    }
  })();
</script>
<!-- End Inspectlet Embed Code -->
  <title>Livestock Event 2014</title>

  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160" />
  <meta name="msapplication-TileColor" content="#43afe3" />
  <meta name="msapplication-TileImage" content="/mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="/mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="/mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="/mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="/mstile-310x310.png" />
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= filepicker_js_include_tag %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">

    <link href="//www.google-analytics.com" rel="dns-prefetch">
    <link href="//ajax.googleapis.com" rel="dns-prefetch">

    <!--payment scripts-->
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<!--end payment scripts-->

<!-- making terrible browsers a bit less terrible -->

<!--[if lt IE 8]>
<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"></script>
<![endif]-->
    
  </head>
  <body>

  <!--some IE catching-->

  <script type="text/javascript">

  if (/MSIE (\d+\.\d+);/.test(navigator.userAgent)) { //test for MSIE x.x;
   var ieversion=new Number(RegExp.$1) // capture x.x portion and store as a number
   if (ieversion==8)
    document.write("<div class='ieWarning'>Sorry about this, but your browser is too outdated to use this site. <b>It's OK!</b> You can download Google Chrome: a fast, modern browser. It's <b>free of charge</b>, and <b>built by Google<b>. Download it from <a class='inlineLink' href='http://www.google.com/chrome'>here</a>.<br />Once you've downloaded Google Chrome, your Internet will work faster, and you'll be able to see this site.<br />If you're unsure about upgrading to Google Chrome, you can upgrade to the <a href='http://windows.microsoft.com/en-us/internet-explorer/download-ie' class='inlineLink'>latest version of Internet Explorer</a> instead.</div>")
   else if (ieversion>=7)
    document.write("<div class='ieWarning'>Sorry about this, but your browser is too outdated to use this site. <b>It's OK!</b> You can download Google Chrome: a fast, modern browser. It's <b>free of charge</b>, and <b>built by Google<b>. Download it from <a class='inlineLink' href='http://www.google.com/chrome'>here</a>.<br />Once you've downloaded Google Chrome, your Internet will work faster, and you'll be able to see this site.<br />If you're unsure about upgrading to Google Chrome, you can upgrade to the <a href='http://windows.microsoft.com/en-us/internet-explorer/download-ie' class='inlineLink'>latest version of Internet Explorer</a> instead.</div>")
   else if (ieversion>=6)
    document.write("<div class='ieWarning'>Sorry about this, but your browser is too outdated to use this site. <b>It's OK!</b> You can download Google Chrome: a fast, modern browser. It's <b>free of charge</b>, and <b>built by Google<b>. Download it from <a class='inlineLink' href='http://www.google.com/chrome'>here</a>.<br />Once you've downloaded Google Chrome, your Internet will work faster, and you'll be able to see this site.<br />If you're unsure about upgrading to Google Chrome, you can upgrade to the <a href='http://windows.microsoft.com/en-us/internet-explorer/download-ie' class='inlineLink'>latest version of Internet Explorer</a> instead.</div>")
   else if (ieversion>=5)
    document.write("<div class='ieWarning'>Sorry about this, but your browser is too outdated to use this site. <b>It's OK!</b> You can download Google Chrome: a fast, modern browser. It's <b>free of charge</b>, and <b>built by Google<b>. Download it from <a class='inlineLink' href='http://www.google.com/chrome'>here</a>.<br />Once you've downloaded Google Chrome, your Internet will work faster, and you'll be able to see this site.<br />If you're unsure about upgrading to Google Chrome, you can upgrade to the <a href='http://windows.microsoft.com/en-us/internet-explorer/download-ie' class='inlineLink'>latest version of Internet Explorer</a> instead.</div>")
  }
  else
   {}

  </script>

    <!--site-wide modal window-->

    <%= render "components/modal" %>
  
    <!--start content-->
    
		<%= yield %>

    <!--upsell bar-->

    <%=render "components/bottom_bar" %>

    <!--cookie policy bar-->

    <%= render "components/cookies" %>
	
    <script type="text/javascript" src="<%= ENV["BASE_URL"] %>/assets/modalEffects.js"></script>
    <script type="text/javascript" src="<%= ENV["BASE_URL"] %>/assets/history.js"></script>
    <script type="text/javascript">
      $( document ).ajaxError(function(event, jqxhr) {
        var status = jqxhr.status;
        var errs = jqxhr.responseText;
        if (status === 401) {
          $( "#modalHeading" ).text( jqxhr.status );
          $( "#modalContent" ).text( "That's not the password we have for you. Please try again." );
        }
        else if (status == 400) {
          $( "#modalHeading" ).text( jqxhr.status );
          $( "#modalContent" ).text( "The request that you sent to the server didn't make sense, so it has rejected it. If this keeps happening, please let us know so we can fix it." );
        }
        else if (status == 403) {
          $( "#modalHeading" ).text( jqxhr.status );
          $( "#modalContent" ).text( "We're sorry about this, but you're not allowed to access that resource. You might be seeing this error if you accidentally used the wrong password, or if you're trying to log in to an Admin-only area of the site." );
        }
        else if (status === 404) {
          $( "#modalHeading" ).text( jqxhr.status );
          $( "#modalContent" ).text( "The server couldn't find what you were looking for. Please try again, and if this keeps happening, please let us know so we can fix it." );
        }
        else if (status === 422) {
          $( "#modalHeading" ).text( jqxhr.status );
          $( "#modalContent" ).text( "Something's not quite right. Please check for mistakes, and then try whatever you were just doing again." );
        };
        $(".md-content").addClass('errorModal');
        $(".md-trigger.callModal").click();
      });
    </script>
    <script type="text/javascript">
      var throwError = function(heading, error) {
        $( "#modalHeading" ).text( heading );
        console.log('heading for error is ' + heading);
        $( "#modalContent" ).text( error );
        console.log('content for error is ' + error);
        $(".md-content").addClass('errorModal');
        $(".md-trigger.callModal").click();
      };
      var throwInfo = function(heading, info) {
        $( "#modalHeading" ).text( heading );
        console.log('heading for info is ' + heading);
        $( "#modalContent" ).html( info );
        console.log('content for info is ' + info);
        $(".md-content").addClass('infoModal');
        $(".md-trigger.callModal").click();
      };
    </script>
    <script>
    (function(f,i,r,e,s,h,l){i['GoogleAnalyticsObject']=s;f[s]=f[s]||function(){
    (f[s].q=f[s].q||[]).push(arguments)},f[s].l=1*new Date();h=i.createElement(r),
    l=i.getElementsByTagName(r)[0];h.async=1;h.src=e;l.parentNode.insertBefore(h,l)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-44788878-1', {'cookieDomain': 'none'});
    ga('send', 'pageview');
    </script>
    <script type="text/javascript">
      Stripe.setPublishableKey('pk_live_9raKOYvWtj9vUQaJcDqZ4L7J');
    </script>
  </body>
</html>
